[2018-11-18 20:08] dfm opened #1 "Finish writing K2-24 tutorials:"
- [x] RV only
- [x] Transit only
- [x] Transit and RV together

[2018-11-18 20:09] dfm opened #2 "Rajpaul GP tutorial"
https://arxiv.org/abs/1506.07304

Shouldn't be too hard with PyMC3

[2018-11-18 20:09] dfm opened #3 "Write some TESS tutorials"
- [x] Figure out how to fit the TESS alerts
- [x] write a tutorial with demos with initial TESS discoveries
- [x] resample a TESS light curve as if it is an FFI and fit that

[2018-11-18 20:09] dfm opened #4 "Benchmarks to make sure that the performance is as expected"

[2018-11-18 20:10] dfm opened #5 "Comparisons to literature packages"
- [x] batman
- [x] radvel
- [ ] others?

[2018-11-18 20:10] dfm opened #6 "Add more general starry op"
Right now, we only support a limb darkening, but it would be fun to support general maps.

[2018-11-19 16:48] dfm opened #7 "Add limbdark citation when it's submitted"

[2018-11-19 22:56] dfm opened #8 "We need a logo"
Paging @rodluger and @megbedell

[2018-11-28 01:38] dfm commented on #8
This is all I've got so far:

![exoplanet-logo](https://user-images.githubusercontent.com/350282/49122860-44486480-f284-11e8-8758-42e1416e7840.png)

@ruthangus says it's crap so I need your help @rodluger and @megbedell!!!

[2018-11-28 01:41] RuthAngus commented on #8
I didn't say it was crap I said it wasn't distinctive enough!

[2018-12-02 13:11] dfm opened #10 "Add tests for exposure time integration"

[2018-12-04 16:00] dfm opened #11 "Use "contact points" in exposure time integration"

[2018-12-07 09:14] danielhey commented on #8
no need to thank me

![lol](https://user-images.githubusercontent.com/38233719/49638524-8a5bb000-fa5c-11e8-8268-3d891247fda5.PNG)

[2018-12-07 15:54] dfm commented on #8
hahaha! Thank you both. I think we'll stick with no logo for now and revisit this eventually.

[2018-12-09 14:55] dfm commented on #1
Done.

[2018-12-09 14:55] #1 closed

[2018-12-09 14:55] dfm commented on #3
Done.

[2018-12-09 14:55] #3 closed

[2018-12-10 13:36] dfm opened #12 "Docstring for GP class"
This is [currently missing](https://exoplanet.dfm.io/en/latest/user/api/#exoplanet.gp.GP).

[2018-12-10 14:43] rodluger opened #13 "Dan needs a bagel"
With lox cream cheese.

[2018-12-10 14:43] rodluger commented on #13
![image](https://user-images.githubusercontent.com/9323819/49739521-1984e580-fc60-11e8-8664-cade4a84dd0c.png)

[2018-12-10 14:44] rodluger commented on #13
@megbedell

[2018-12-10 14:50] megbedell commented on #13
I nominate this for the logo

[2018-12-10 14:54] megbedell commented on #13
![bagel](https://user-images.githubusercontent.com/13722237/49740115-864caf80-fc61-11e8-9b93-fef867913edc.png)
#8

[2018-12-10 15:17] #13 closed

[2018-12-10 15:17] rodluger commented on #13
Dan approves!

[2018-12-10 15:44] dfm commented on #13
Ping #8

[2018-12-10 17:51] mrtommyb opened #14 "NotADirectoryError when importing exoplanet"
I ran the tutorial as written here:
http://exoplanet.dfm.io/en/latest/tutorials/stellar-variability/

and get the following error. I'm using a git clone of the master branch

[code]

[2018-12-10 17:56] mrtommyb commented on #14
I can install fine from pip install exoplanet

[2018-12-10 17:58] dfm commented on #14
How did you install from the github clone?

[2018-12-10 18:01] mrtommyb commented on #14
good question. I'm not sure. If I was following your instructions then python setup.py install. But I may have done pip install -e .

[2018-12-10 18:05] dfm commented on #14
OK. Well if you do:

[code]

Everything should work.

[2018-12-10 18:17] mrtommyb commented on #14
Ok, I did a fresh install and i got the same error.

[2018-12-10 18:18] mrtommyb commented on #14
[code]

[2018-12-10 18:18] dfm commented on #14
And you included `--recursive` and you first did `pip uninstall exoplanet`?

[2018-12-10 18:19] mrtommyb commented on #14
yes to both.

[2018-12-10 18:25] dfm commented on #14
In that case, try:

[code]

instead!

[2018-12-10 18:30] mrtommyb commented on #14
[code]
imports and works correctly

[2018-12-10 19:19] dfm commented on #14
OK. Great! I see what's happening and I'm not sure why, but I'll try to work it out. Thanks for letting me know!

[2018-12-10 19:49] dfm commented on #14
I figured it out. `setup.py install` should work for master now.

[2018-12-11 19:47] barentsen commented on #13
Can I have a donut?

[2018-12-11 19:48] dfm commented on #13
u can haz waffle:

![523653661524741652](https://user-images.githubusercontent.com/350282/49825996-cd1ad200-fd53-11e8-9ea1-cd30594643e5.jpg)

[2018-12-11 19:54] barentsen commented on #13
Fine.

[2018-12-13 00:54] #14 closed

[2018-12-13 00:55] dfm opened #15 "Add astrometry example"
For example: [this system](https://arxiv.org/abs/1306.3225) has public data.

[2018-12-13 00:55] dfm opened #16 "Add a TTV tutorial"
The TTVOrbit class is currently undocumented.

[2018-12-13 12:19] dfm opened #17 "Use analytic solution to quartic equation when solving for contact points"
A suggestion from @ericagol. See the appendix of [Kipping (2008)](https://arxiv.org/abs/0807.0096).

[2018-12-16 21:07] mrtommyb opened #18 "getting OSError: [Errno 12] Cannot allocate memory"
This is really a question on sampling.  I am following your examples but using a three planet system.
I ran the tuning step with
[code]

When I try to do the sampling step I get
[code]

[2018-12-16 21:12] mrtommyb commented on #18
It runs fine if I specify cores=1

[2018-12-17 02:41] dfm commented on #18
I expect this is because of the Deterministic nodes. You could try removing some of those. Otherwise you're going to have to give more details about what your model looks like and what you've tried.

[2018-12-17 02:47] mrtommyb commented on #18
Thanks Dan.
I’ll push a notebook later this evening and point you to it. It would be great if you could write a few words in the documentation on which numbers to change in the sampling and tuning steps. My model didn’t converge with the default parameters but then i wasn’t sure what to do next.

[2018-12-17 03:57] dfm commented on #18
Sounds good. I'll try to add something like that at some point, but the place to start for real is the PyMC3 docs. All this package does is provide the tools needed to use PyMC3 for exoplanets. I'm trying to write astro friendly intro docs, but there's also a lot of more complete docs on the PyMC3 site that talk about tuning and convergence.

[2018-12-17 17:04] ericagol commented on #17
This paper may also be useful:

https://arxiv.org/abs/1811.05484

[2018-12-17 17:12] dfm commented on #17
Absolutely - Thanks!

[2018-12-18 04:13] mrtommyb commented on #18
Here's the notebook that I was working from
https://github.com/mrtommyb/l98-59-transitmodel/blob/master/code/exoplanet-test.ipynb

[2018-12-18 04:42] mrtommyb commented on #18
I think the answer to this problem is that I don't need to save all the light curves.

[2018-12-18 04:42] mrtommyb commented on #18
Although this sampling didn't really work as the number of effective samples is very low

[2018-12-18 21:43] megbedell opened #19 "jitter not used in example 51 Peg fit?"
In the example of [fitting 51 Peg data with exoplanet](https://exoplanet.dfm.io/en/latest/tutorials/intro-to-pymc3/#a-more-realistic-example-radial-velocity-exoplanets), there's a log-jitter variable defined, but I don't see where it comes into the fit.

My guess on how to fix this is that you should change from
`pm.Normal("obs", mu=rvmodel, sd=rv_err, observed=rv)`
to
`pm.Normal("obs", mu=rvmodel

[2018-12-18 21:52] dfm commented on #19
Yep - that should be included and your suggested syntax is right! Thanks!

I think it's done correctly in [the RV tutorial](https://exoplanet.dfm.io/en/latest/tutorials/rv/), but I missed it here.

[2018-12-18 22:04] dfm commented on #19
Fixed. Thanks!

[2018-12-18 22:04] #19 closed

[2019-01-12 19:17] mrtommyb commented on #18
I'm going to close this as I understand what is going on. The memory issue is that if I run lots of chains I can't store all the light curves.

[2019-01-12 19:17] #18 closed

[2019-01-13 02:58] mrtommyb opened #20 "error when using a small number of samples in tune"
When the number of samples in tune is small (lower than start/finish perhaps), I got an error

[code]

[2019-01-16 17:06] mrtommyb opened #22 "K2-24 tutorial does not converge"
I did a fresh conda environment and installed exoplanet and dependencies. I ran the K2-24 tutorial in a downloaded notebook and I get the following from the sample
[code]
The summary output is similarly bad
[code]

[2019-01-16 17:16] mrtommyb commented on #22
I ran the transit.ipynb tutorial and there were no problems.

[2019-01-16 19:45] mrtommyb commented on #22
I pip installed version 0.1.2 and the issues are gone. I would guess that the problems are related to the changes made in bce2019d7045cc87fed73adb8f3e3633b86e4a4b

[2019-01-16 22:12] dfm commented on #22
Thanks Tom. I'm looking into this now. I'm not sure that that's the change that's causing the problem but I'll figure it out. Can you post your version of the notebook as a gist or something so that I can take a look?

[2019-01-16 22:18] dfm commented on #20
When `tune` is less than `start + window + finish`, the behavior is undefined so I have added an exception when this condition is not satisfied.

[2019-01-16 22:18] #20 closed

[2019-01-16 23:34] mrtommyb commented on #22
Sure, added to https://github.com/mrtommyb/l98-59-transitmodel/blob/master/code/together.ipynb

[2019-01-16 23:50] dfm commented on #22
Thanks! This looks like something wrong with how the sampler works after tuning because everything looks good until then. I'll play around with this and see what I can do.

[2019-01-17 02:11] dfm commented on #22
So I have confirmed that it is a bug in the sampler, but I haven't been able to track it down. In the meantime, here is a workaround. Replace:

[code]

with

[code]

[2019-01-17 02:58] mrtommyb commented on #22
thanks Dan. I switch to an earlier commit and it seems to be working fine (I'm running on this one 597b2db247ed00b46d5c73a54aaf0c5e0c2e61f0).

[2019-01-17 05:56] dfm commented on #22
Just be warned that the definition of impact parameter is wrong for `e != 0`. You should probably use a later commit that includes the updated impact parameter definition or the workaround above. Otherwise your results will be wrong unless you're assuming circular orbits!

[2019-01-19 15:19] mrtommyb commented on #22
I ran the updated version of together.ipynb. While things are better, my results are not consistent with yours, e.g. here is a plot.
![screenshot from 2019-01-19 10-17-39](https://user-images.githubusercontent.com/1900573/51428617-b29a0b00-1bd3-11e9-9d11-61b0a152de0c.png)

[2019-01-19 16:15] dfm commented on #22
Brutal. What version of pymc3 are you on?

[2019-01-19 16:19] mrtommyb commented on #22
I verified that it's just a single chain that's going wonky.

[2019-01-19 16:40] dfm commented on #22
Thanks! I'm still on PyMC3.5. I'll take a look at what changed.

[2019-01-25 20:42] hippke opened #23 "AttributeError: module 'exoplanet' has no attribute 'optimize'"
I tried the tutorial for [transit fitting](https://exoplanet.dfm.io/en/latest/tutorials/transit/) with exoplanet 0.14dev under Python 3.7 + all latest software. When running `map_soln = xo.optimize(start=model.test_point)` I get the error `AttributeError: module 'exoplanet' has no attribute 'optimize'`

[2019-01-25 20:56] dfm commented on #23
You must not actually be using the updated exoplanet. Make sure that you `pip uninstall exoplanet` a few times and then update from GitHub. It has only been added within the past day or so...

[2019-01-26 09:33] hippke commented on #23
Thanks. I re-installed from source and now get this:
[code]

[2019-01-26 12:53] dfm commented on #23
That suggests to me that you didn't recursively clone because Eigen is included in the starry submodule. Try running the following in your git checkout:

[code]

and then

[code]

or

[code]

[2019-01-26 20:32] hippke commented on #23
Ah! This last error is only present if numpy==1.16. It runs fine in numpy==1.15.
Probably worth checking compatibility with different theanos + numpy versions

[2019-01-26 20:52] dfm commented on #22
I've made a few updates to how the sampler works and everything in the K2-24 seems to be good now. Want to take a look to make sure that it's ok for you with the current github master?

[2019-01-26 20:57] dfm commented on #23
This is a Theano problem (or maybe conda, depending on how you interpret it), not an exoplanet problem. Raise an issue there if you want, but that's not something that this repo will fix!

Note that Theano 1.0.4 is compatible with numpy 1.16 (as tested here: https://travis-ci.org/dfm/exoplanet).

[2019-01-26 20:57] #23 closed

[2019-01-26 22:07] mrtommyb commented on #22
I haven't rerun yet, but looking at your updated notebook, the sampling doesn't looks to have been super effective.

[2019-01-26 22:43] dfm commented on #22
How so? Here's the most recent run with master: https://github.com/dfm/exoplanet/blob/4ff759822b590ef444d9b338ef61dfa074032d68/docs/_static/notebooks/together.ipynb
Looks great to me! Is there something I'm missing?

[2019-01-26 22:49] mrtommyb commented on #22
My mistake, I was accidentally looking at this version
https://github.com/dfm/exoplanet/blob/b2ebd856483fa547408061993e8e67f5e67b2fcd/docs/_static/notebooks/together.ipynb

[2019-01-26 22:49] mrtommyb commented on #22
looks good now

[2019-01-26 22:50] dfm commented on #22
haha - yes, I did manage to reproduce your issue :-) Thanks!

[2019-01-26 22:51] mrtommyb commented on #22
Thanks for fixing things.

[2019-01-29 19:49] dfm opened #24 "Add notes about reparameterization to the docs"

[2019-01-30 02:39] mrtommyb commented on #22
Unfortunately, I do not seem to be getting the same results are you, and there are convergence problems still. The only difference I can think of is that I'm on theano 1.0.4.
![screenshot from 2019-01-29 21-37-25](https://user-images.githubusercontent.com/1900573/51954469-53779a00-240e-11e9-9bcb-59490c687028.png)
![screenshot from 2019-01-29 21-37-50](https://user-images.githubusercontent.com/1900

[2019-02-07 22:51] dfm commented on #22
Just getting back to this and I'm now getting the same problem again. Very strange! It seems to have something to do with omega. It's true that there can be numerical issues with the `Angle` distribution in some edge cases, but that should be vanishingly unlikely and I'm having trouble diagnosing. I'll keep digging and let you know!

[2019-02-09 18:36] dfm commented on #15
@iancze and I have been chatting offline and we're hoping to work on this. Here are some open questions from Ian:

1. coordinate convention about the ascending node: is it the one receeding from the observer or approaching the observer? My personal preference is that of the visual binary field, discussed in the document I linked. It yields to a consistent right hand rule system. The choice of the

[2019-02-09 18:58] iancze commented on #15
Sure thing. Here are some notes for an internally consistent convention (following the visual binary field) that I've been using for my work: https://v2.overleaf.com/read/wszkgttktyvg

The inconsistencies I think I noted were the swapping of a negative sign in the equation for radial velocity v_r and v_z in the Murray and Correia notes, or at least, my misunderstanding of something related to that

[2019-02-09 19:59] dfm opened #26 "Bug in RotationTerm"
The amplitude of the second term would probably be better behaved if it was defined properly.
Currently it is:

[code]

but it should probably be

[code]

https://github.com/dfm/exoplanet/blob/master/exoplanet/gp/terms.py#L423

[2019-02-09 20:50] dfm commented on #22
Ugh - I'm having issues with this again. Disregard for now. I don't understand wtf is going on.

[2019-02-09 20:59] #26 closed

[2019-02-09 21:00] dfm commented on #26
Actually it's probably better as: `S2 = self.mix * S1` (as it was originally).

[2019-02-25 17:38] dfm commented on #17
Another quartic solver: https://www.sciencedirect.com/science/article/pii/S0377042710002128

[2019-02-26 16:16] dfm commented on #17
I've now incorporated a special purpose quartic solver using companion matrices and it seems pretty robust and efficient. I'm going to table this for now.

[2019-02-26 16:16] #17 closed

[2019-03-18 14:25] Li-Yangyang opened #30 "system/environment issue on supercomputer"
Hi,
I am doing unit-test of exoplanet on supercomputer cluster. However I met a problem of system or environment issue about it. It seems about the flag of theano module. Here is the test feedback. Do you have any insight how to configure those possible wrong flag value in the theano backend?
Thanks,
  Yangyang
[bug_infos.log](https://github.com/dfm/exoplanet/files/2978616/bug_infos.log)

[2019-03-18 19:09] dfm commented on #30
The unit tests really only work when executed within the git repository (because of flags, as you say). Did you execute the tests as follows:

[code]

If so, can you tell me your Theano, PyMC3 and exoplanet versions?

[2019-03-18 20:40] Li-Yangyang commented on #30
I just redid the test under git repository, still not passing. Theano: 1.0.4, PyMC3: 3.6, exoplanet: 0.1.5

[2019-03-18 21:10] dfm commented on #30
Looking more closely, it looks like the error is coming from the fact that your system isn't exposing a c++ compiler. It looks like you'll need to set the `cxx` theano flag to point to your c++ compiler. All the ops in exoplanet are implemented in C so it won't work without this! Let me know how that goes.

[2019-03-21 21:26] Li-Yangyang commented on #30
Many thanks. One more thing about the unit-test of exoplanet is that it seems that c++ compiler can not find Eigen3 and starry lib. After I added them to my system lib directory and point cxx to the c++ complier, unit-test worked. Therefore if possible, a brief guidance about that two lib configuration might be added to the testing part of exoplanet documentation.

Regards,
  Yangyang

[2019-03-21 22:13] dfm commented on #30
This means that you didn't follow the docs and git clone --recursive :).
I'm not sure that adding to the docs helps if it isn't followed... ;)

On Thu, Mar 21, 2019 at 5:26 PM Li-Yangyang <notifications@github.com>
wrote:

--
Dan Foreman-Mackey
Associate Research Scientist
Flatiron Institute
http://dfm.io

[2019-03-21 23:25] Li-Yangyang commented on #30
Oh, yeah! I just followed the "git clone" suggestions and didn't check the doc lol. Alright, that works if add --recursive. Still many thanks. It's perfect time to close this issue. :)

Regards,
Yangyang

[2019-04-14 18:40] #30 closed

[2019-04-15 06:42] danielhey opened #31 "get_true_anomaly when mean anomaly is pi"
I've been using exoplanet quite a bit the past few days and noticed some weird behaviour in `exoplanet.orbits.get_true_anomaly`.  When the mean anomaly is exactly pi, `get_true_anomaly` returns 0, whereas my implementation (and some others I've tried) return pi. You can see this in action below.

[code]

![residual](https://user-images.githubusercontent.com/38233719/56111131-42184580-5f9a-11e9-8f2

[2019-04-15 13:16] dfm commented on #31
Is this with the GitHub master? I fixed this bug and added a test a few days ago.

[2019-04-15 13:36] danielhey commented on #31
I didn't think of that, thanks Dan!

[2019-04-15 13:36] #31 closed

[2019-04-19 06:50] iancze commented on #15
Just a note that I have made some progress to this on a fork of the repo, e.g., https://github.com/iancze/exoplanet/blob/master/docs/notebooks/astrometric.ipynb

I'll work on flushing out the functionality and tutorial before thinking about how to put together a proper a pull request.

[2019-04-23 15:18] dfm opened #32 "Issue with contact points for some orbits"
Sometimes the start point is larger than the end point. For now, I'm just catching that and bailing but we should work out where this is coming from.

[2019-04-23 15:21] dfm commented on #32
Here's an example where this failure happens:

[code]

[2019-04-25 15:24] dfm commented on #22
After many months of work, I have now gotten to the bottom of this. It was a lot of different factors contributing, but the main thing was instability of the function that computes the times of the contact points for the transit. It's not perfect now, but at least it *knows* when it's wrong now. Here's the most up to date tutorial (you'll see that everything looks good): https://exoplanet.dfm.io/e

[2019-04-25 15:24] #22 closed

[2019-04-27 20:47] mrtommyb commented on #22
Great! Thanks Dan. I also notice a big speedup for the planet I'm working with.

[2019-04-29 20:34] #32 closed

[2019-04-29 20:36] dfm opened #34 "Try the Markley 1995 Kepler solver"
https://link.springer.com/article/10.1007%2FBF00691917

The [Python implementation](https://gist.github.com/dfm/506d02a32f9981094ce289046c829fc9) has machine precision accuracy and it's simpler than the one I'm using so it might be possible to get it even faster.

From: @pmaxted

[2019-04-30 14:23] dfm commented on #34
Done. Looks good!

[2019-04-30 14:23] #34 closed

[2019-05-06 20:54] iancze commented on #15
Some changes to `KeplerianOrbit` to include astrometry

- [ ] change `t_ref` to `t_periastron`, let `t0` be time of transit (time of minimum impact parameter if non-transiting). Add both to `__init__`, then add logic to ensure user only specifies one at a time.
- [ ] add `Omega` to `KeplerianOrbit`. Tinker with `rotate_vector` to include position angle rotation.
- [ ] `get_consistent_inputs` needs

[2019-05-06 23:14] iancze opened #36 "Where should +Z point in the Cartesian XYZ frame convention?"
Following #15, we should have a discussion about the pros and cons of various orientations of the XYZ Cartesian frame in observer coordinates. If we are sticking to right-handed systems, there are basically two options

1. +Z points *away* from the observer. This is currently the way `exoplanet` is structured.
2. +Z points *toward* the observer. This is the way [Murray and Corriea](https://ui.adsa

[2019-05-06 23:28] dfm commented on #36
Excellent. I'm happy to switch to 2 where `Z` points towards the observer (I know that this is also what @rodluger wants…). Here's a list of some of the spots where we'll have to make changes:

- [ ] `exoplanet/theano_ops/starry/limbdark.cc`: this currently has the `transit == (z < 0)` convention encoded
- [ ] `exoplanet/theano_ops/contact/contact.cc`: the contact points for a transit are computed

[2019-05-07 17:01] dfm commented on #36
I've made the +Z change on the `sign-conventions` branch and everything looks good. The only inconsistency now is that radial velocity is `-v_Z`, but I think that I've updated that method to do the right thing and I've added a note to the docstring.

[2019-05-07 17:03] #4 closed

[2019-05-07 17:03] #12 closed

[2019-05-07 17:03] dfm commented on #6
Currently being implemented by @rodluger inside of starry.

[2019-05-07 17:03] #6 closed

[2019-05-07 17:04] dfm commented on #7
What's our status @rodluger @ericagol?

[2019-05-07 17:24] ericagol commented on #7
Getting closer!  @rodluger  has created a module, made a rough-draft of the documents, and created a Julia package.  I've been working on fixing some mislabeling in a figure which I discovered last night, and adding some documentation strings.

[2019-05-07 17:38] dfm commented on #7
Awesome!

[2019-05-08 04:22] iancze commented on #15
After our work on this today, I think we finally have a working implementation for astrometric orbits over at https://github.com/iancze/exoplanet/blob/keplerian-astrometric/docs/notebooks/astrometric.ipynb, which converges when using the xo.PyMC3Sampler to tune.

The changes to `orbits/keplerian.py` are probably ready to merge, although I should write some tests to be sure. My next step is to roun

[2019-05-08 21:37] rodluger opened #39 "Exposure integration fails for large exposure times"
When the exposure time is comparable to the duration of the transit (which can occur for ultra-short period planets), the integration algorithm in `exoplanet` produces spurious wiggles. The code below compares a light curve integrated with exoplanet (orange line in plot) and one using a simple moving average (green line in plot). This occurs (with varying degrees) for all three integration `order`

[2019-05-08 21:47] rodluger commented on #39
Actually, increasing `oversample` improves the behavior, so perhaps this isn't really a bug. I find that I need to go to `oversample > 25` in this particular case before the wiggles disappear. I wonder if there's a more efficient integration method for these cases, but perhaps I should just suck it up :)

[2019-05-08 22:05] rodluger opened #40 "Variable exposure time broken when `use_in_transit=True`"
The following code
[code]
throws a very long error starting with
[code]
The issue is on [this line](https://github.com/dfm/exoplanet/blob/a47abb2dc7025909c9f557270bc1752170f3b184/exoplanet/light_curves.py#L122), which assumes that `dt` and `t` have the same shape. They don't because `use_in_transit` leads to `t` being cropped.

[2019-05-08 23:01] dfm commented on #39
I bet #11 will help this, but it's a bit of a pain to get it working properly within theano. I've been working on it and this will be a great use case to demonstrate how useful it is!

[2019-05-08 23:02] dfm commented on #40
Brutal. This should be easy to fix. Thanks for reporting it!

[2019-05-09 03:36] #40 closed

[2019-05-09 13:47] rodluger commented on #36
@dfm When do you plan on releasing a new version of `exoplanet` with this new convention? I'll have to switch some signs within my `starry` Ops when the time comes.

[2019-05-09 14:21] dfm commented on #36
I think we're pretty set to go on this. Maybe next week? Perhaps we should make it a 0.2.x series since this is a backwards incompatible change.

[2019-05-09 14:23] dfm commented on #36
Either way, I think we'll want to include en example of fitting astrometry so we'll wait until @iancze opens his pull request.

[2019-05-13 07:08] iancze commented on #36
I think I have a working example for astrometry-only here (with and without parallax info): https://github.com/iancze/exoplanet/blob/keplerian-astrometric/docs/notebooks/astrometric.ipynb
[if you have any comments in the meantime, please point them out].

I'm still working on implementing the astrometric + RV fits, and struggling a little bit with the `get_consistent_units` function. I may open up

[2019-05-13 16:56] iancze opened #41 "expanding `_get_consistent_inputs` for astrometric + rv parameter sets"
For an orbit fit to both double-lined RV and astrometric data of a binary star, you basically fully orient everything in 3D space and determine the individual stellar masses. (There is no information about the radii of the stars). So, we'd like to choose a basic set of (independent) orbital parameters from which every other property can be derived.

Here are a few choices that might work

1)
a (ph

[2019-05-15 17:31] dfm opened #42 "Source code for orbital convention figure"
@iancze: do you have the source code that you used to generate the [orbit3D](https://github.com/dfm/exoplanet/blob/master/paper/figures/orbit3D.pdf) figure?

[2019-05-15 17:35] dfm commented on #41
I also think that I would prefer the second parameter set. The others can easily be calculated in user code.

I'm a bit confused about your code snippet. There could well be a thinko in the way I currently have it implemented. What is the problem that is causing this?

[2019-05-15 17:38] iancze commented on #41
I think it's because of the specification that r_star = 1.0.

[2019-05-15 17:41] dfm commented on #41
Sure - I saw that. But what should it be instead?

[2019-05-15 17:41] dfm commented on #36
This notebook looks awesome! If we want to get crazy, we could add a mixture model to deal with outliers.

[2019-05-15 17:42] dfm commented on #42
Turns out it was an SVG made in inkscape.

[2019-05-15 17:42] #42 closed

[2019-05-15 17:58] dfm commented on #41
I guess I'm asking: what is the `calc_Mtot` function above? In principle the current implementation of this function should do what you want in principle and it would be good to work out the bug if there is one.

[2019-05-15 18:10] dfm commented on #41
I think I figured it out and now I understand your suggestion that we use `m_total` as the parameter. I think that's a good idea, but we'll have to think through the options.

Can you make a list of example test cases like the one above? I'll go through and do the same for transits and RVs. That way we get a reasonable set of unit tests for this function!

[2019-05-15 23:33] iancze commented on #41
Sorry for the delay in getting back (conference talks...). The `calc_Mtot` function is just calculating Mtot from Kepler's third law. As you mentioned, I think this is also done via `_get_consistent_inputs`, but since it's currently routed through the stellar density, the `r_star` issue comes into play.

For the astrometric + RV, I think those three are main test cases I have seen, but option two

[2019-05-18 23:53] dfm commented on #41
Hey @iancze: I just pushed a change to `get_consistent_inputs` so that  it now passes your test. The issue was actually way stupider than we thought... I was just computing the implied density *in the wrong units*!! That is fixed now so take a look and let me know what you're thinking about parallaxes.

[2019-05-19 01:52] dfm commented on #11
I'm going to skip this for now because the book keeping is too much of a pain.

[2019-05-19 01:52] #11 closed

[2019-05-19 01:54] dfm commented on #39
I've gone back and forth on this for a while and I've found that adding in the contact points doesn't help too much. We can solve this by using an adaptive algorithm and some sort of polynomial approximation to the orbit, but I find that that breaks down pretty badly for long exposure times like this. I'm going to punt on this for now and say that you're just going to have to use a "large" number

[2019-05-19 01:54] #39 closed

[2019-05-19 01:54] #36 closed

[2019-05-19 01:55] #5 closed

[2019-05-20 12:45] rodluger commented on #11
That's too bad. I'm happy to help hack on this when you're back in town!

[2019-05-23 03:17] iancze commented on #41
This update works for me! I added the parallax keywords and things seem to be working out. Putting the finishing touches on the astrometric + RV tutorial and I'll open a pull request imminently.

[2019-05-23 03:17] #41 closed

[2019-06-07 23:01] christinahedges opened #45 "Luminosity of secondary"
Using `exoplanet` is great! I'm now wondering, `starry` has the capability to make the secondary luminous, meaning that it will automatically add secondary eclipses, and phase curves. Is this functionality preserved in `exoplanet`? How can I add secondary eclipses to my fit exoplanet model?

Many thanks!
C

[2019-06-08 15:33] rodluger commented on #45
@christinahedges Currently only stellar limb darkening is implemented in exoplanet. I'm hard at work at the new release of starry, which will make all of the code's features play nice with exoplanet. I'm hoping to release it this summer. At the very least, I can probably show you how to do it with the (undocumented, possibly slightly buggy) [dev version](https://github.com/rodluger/starry/tree/dev

[2019-06-11 16:55] christinahedges commented on #45
I would love to learn! Especially if it will help me learn how starry works. Is this something we could set up a v. short skype call about so I can pick it up?

[2019-06-14 08:36] danielhey commented on #45
Hi all, I'm also very interested in this functionality! Please let me know how I could learn more :-)

[2019-07-10 12:45] rodluger commented on #45
@christinahedges @danielhey Just a heads up that I'm still working on this. I'm putting together a notebook with a sketch of how things will work in the next release of starry, and I'm hoping you guys (and anyone else!) can help me test it. I'll keep you posted -- hopefully I'll have something for you later this week.

[2019-07-12 17:14] christinahedges commented on #45
Very excited to test this!!

[2019-07-18 02:57] jiayindong opened #49 "TTVOrbit for StarryLightCurve"
Thanks for developing the `exoplanet` package!

I wonder is the TTVOrbit option on? If so, does the StarryLightCurve work properly on it?

- TTVOrbit with the argument transit_times gives me an error message, e.g.,

[code]

- The ttvs argument works, but when I input the orbit to Starry, it gives an error message.

Here is what I tried.
[code]

Here is what I got.
[code]

I may just misunderstand

[2019-07-18 07:10] ericagol opened #50 "Planetary coordinate system in multi-planet case"
@dfm  In the multi-planet case, in which coordinate system do you solve Kepler's equations?  The ideal is to use Jacobi coordinates, although heliocentric and barycentric are easier to implement.  However, both heliocentric and barycentric have drawbacks.

[2019-07-18 16:11] dfm commented on #49
This functionality has not been carefully tested -- that's also why it's not documented :) -- so use at your own risk!

That being said, the bug here is that the `transit_times` or `ttvs` arguments must be lists of arrays (or list of tensors, or list of lists), one for each body. You could change it to `transit_times=[[1, 2, 3]]` and it should work.

[2019-07-18 16:14] dfm commented on #50
I'm not sure if I totally understand the question, but the code treats the system as a sum of independent two body orbits with a single primary body. Each of these orbits can then be solved in heliocentric or barycentric frames. Does that make sense? Feedback appreciated!

[2019-07-18 19:29] ericagol commented on #50
Yes, that makes sense, and is probably the easiest way to go.

[2019-07-18 19:29] #50 closed

[2019-07-18 19:58] jiayindong commented on #49
Cool, thanks!

[2019-07-18 20:58] gjgilbert commented on #49
@jiayindong @dfm Just a heads up that even using the list-of-arrays workaround, I've been running into issues with TTVOrbit. For some reason, not all the transits are being generated, or are perhaps offset by an unusually large TTV amplitude (see top figure below). The reference planet here is Kepler-18c (P=7.6 days), and should have more or less evenly spaced transits, with a TTV amplitude of ~10

[2019-07-18 23:01] dfm commented on #49
Can you send a simple executable example that doesn't have the behavior
that you expect and I'll take a look? Thanks!

On Thu, Jul 18, 2019 at 5:11 PM Jiayin Dong <notifications@github.com>
wrote:

--
Dan Foreman-Mackey
Associate Research Scientist
Flatiron Institute
http://dfm.io

[2019-07-19 13:54] dfm opened #51 "Derive exposure time integrated celerite model with variable exposure times"
This should be possible using semi-separable matrices, but it'll take a little bit of reimplementation in the backend. Hopefully it's not too terrible!

[2019-07-19 13:56] dfm opened #52 "Work out the correct diagonal elements for the exposure time integrated celerite model"
The diagonal elements are in the limit `tau < Delta` so it's not currently implemented correctly. @ericagol worries that there might sometimes be issues when this value is negative. We should convince ourselves about this one way or another.

[2019-07-19 16:24] gjgilbert commented on #49
I've uploaded my code here: https://github.com/gjgilbert/pterodactyl. Everything should be executable from the jupyter notebook. You'll need to specify a few paths in the first two cells but everything else should run without issue. The behavior in question is in the last few cells under the section "do a model fit" and the relevant function in pterodactyl_wings is "calculate_model_flux"

The ligh

[2019-07-19 17:21] dfm commented on #49
Thanks! Yeah - it would be best if you could put together a simple standalone version that isolates the problem. I have a few ideas, but like I said this definitely hasn't been well tested so it'll take some poking!

[2019-07-19 19:06] gjgilbert commented on #49
Okay, a notebook 'dfm_exoplanet_testing' is uploaded here: https://github.com/gjgilbert/pterodactyl, plus three .fits files containing relevant data for the three planets in the Kepler-18 system. All you need to do is specify which file you want to read in (keyword "FITSFILE" in the second cell). FYI, the naming convention I've used sorts the planets by orbital period, which is not necessarily the

[2019-07-26 19:10] ericagol opened #54 "Including Relativistic effects in exoplanet?"
The new Sgr A*/S02 paper on GR effects made me wonder if it would be worthwhile to include relativistic effects in exoplanet:

https://science.sciencemag.org/content/early/2019/07/24/science.aav8137

It's also interesting to note that they used the STAN implementation of NUTS as a check on their results.

[2019-08-02 19:11] dfm commented on #49
Hi Greg, sorry for the slow response over here! Can you make a little toy example that has the same behavior without all the surrounding infrastructure. Like one single standalone function with no dependencies or files. Then we'll be able to see more clearly where the issue is coming from. Thanks!

[2019-08-03 01:14] gjgilbert commented on #49
No worries about the response time, Dan!

Here's a completely stripped-down notebook that reproduces the issue: https://github.com/gjgilbert/pterodactyl/blob/master/dfm_exoplanet_testing.ipynb

[2019-08-06 16:34] dfm commented on #49
@gjgilbert: I got a chance to look at this and I worked out what was going on. I'd developed the model in the limit where the ttvs were less than the period, but here you have some transits that come more than a period late so that was messing up all the bookkeeping. I just pushed a change that looks a bit better, but there's still an issue when the transit comes >2 "periods" late. In the example

[2019-08-06 16:53] dfm commented on #49
Edit: change all occurrences of period to period/2 in the above comment - sorry!

[2019-08-06 23:57] dfm commented on #52
Done in #56

[2019-08-06 23:57] #52 closed

[2019-08-28 12:57] hposborn opened #58 "Can KeplerianOrbit functions accept theano variables?"
Ok, I'm slowly understanding the whole Theano/PyMc3 back-end, so this is probably a stupid question, but can the functions in KeplerianOrbit accept theano variables?

For example, I would like to include the relative velocity as a deterministic variable in my transit model. This let's me check the transit duration and compare with my past models (which used vel_R to fit the transit). This should b

[2019-09-02 12:00] dfm commented on #58
@hposborn: Theano is a whole can of worms :), but here the issue is that `get_relative_velocity` returns *three* elements: the `vx`, `vy`, and `vy`. Each of these should have shape `(ntimes, nplanets)`, I believe. So, I expect that what you actually want is the speed in the plane of the sky which you should be able to compute as:

[code]

but then there's one more catch. This will be a 2x2 matrix

[2019-09-04 15:24] hposborn commented on #58
Ah thanks. I thought that might be the case, but I couldn't get orbit.get_relative_velocity(t0)[0] (for example) to produce anything either (but I guess I shouldn't treat Theano variables like tensors).
Works great now, thanks!

[2019-09-06 18:12] hposborn opened #59 "Hacking exoplanet to fit two disparate transits without "islands" in the period PDF..."
For a few transiting systems (and increasingly more with the gaps likely to occur in TESS) we have two individual transits that are separated by a long gap, meaning we have no real knowledge of the orbital period except for a few discrete integer period ratios. These create "islands" in the posteriors and make MCMC modelling extremely difficult... The most well known such case is HIP 41378 (https:

[2019-09-07 01:09] dfm commented on #59
This is an interesting question!

I'd probably consider implementing it using a version of your last proposal, but analytically marginalizing over `n`. I'd probably fit for a parameter `p0` then compute the full model for each value of `period = p0 / n` for `n = ...`. Then you can just sum over the likelihoods (not the log likelihoods!) to compute the marginalized likelihood.

It might be better t

[2019-09-11 22:27] #58 closed

[2019-09-16 18:12] megbedell opened #61 "better eccentricity distribution?"
Currently the orbit-fitting tutorials use xo.distributions.UnitUniform or Uniform as a prior for orbital eccentricity, but this can bias the resulting maximum-likelihood estimate to high e. Are there plans to add any built-in distributions that would make better priors on eccentricity? One option might be a beta-distribution ([Kipping 2014](https://ui.adsabs.harvard.edu/abs/2014MNRAS.444.2263K/abs

[2019-09-16 18:33] megbedell commented on #61
OK, that's fair. Thanks! I'd consider this issue resolved.

[2019-09-16 18:37] dfm commented on #61
I do think that leaving this open and providing a few named options is worth considering.

I know of [Kipping 2014](https://ui.adsabs.harvard.edu/abs/2014MNRAS.444.2263K/abstract) and [Van Eylen et al 2019](https://ui.adsabs.harvard.edu/abs/2019AJ....157...61V/abstract), but there must be other ones that should be included.

[2019-09-16 18:40] dfm commented on #61
Or rather [Kipping 2013](https://ui.adsabs.harvard.edu/abs/2013MNRAS.434L..51K/abstract).

[2019-09-19 07:09] john-livingston opened #62 "add support for semiseparable kernels"
I'm interested in being able to model different subsets of the data with different kernels, i.e. K = K1 + K2, where K2 could have zeros everywhere except blocks corresponding to the target data subset. As you mentioned this isn't trivial with celerite, but could work in principle, i.e. by generalizing the kernel to be k(tau=|ti-tj|) = a_1(ti) * a_2(tj) * exp(-c*tau) * cos(d*tau) + b_1(ti) * b_2(tj

[2019-09-19 14:56] ericagol commented on #62
And easy way to do this would be to simply compute the likelihood for the two data sets separately.

Eric Agol
Astronomy Professor
University of Washington

[2019-09-19 18:13] dfm commented on #61
Helper functions for both of these distributions are now implemented:

https://exoplanet.dfm.io/en/latest/user/api/#eccentricity-distributions

[2019-09-19 18:13] #61 closed

[2019-09-19 18:22] #7 closed

[2019-09-19 18:26] dfm commented on #62
@ericagol: The catch here is actually that K1 will be dense (in the celerite sense), but then K2 will be block diagonal (with celerite kernels in each block). The idea here is that you might want to model in transit data using an extra kernel for spot crossings, etc. I think that this could be implemented using variable `a` and `b` and then setting them to zero if either of the times are out of tr

[2019-09-19 20:35] ericagol commented on #62
Yes, I see!

[2019-10-14 17:45] ericagol opened #65 "Citation of orbitize!"
There is a recent paper which discussed some approaches to Bayesian analysis of orbits of directly-imaged exoplanets:

https://arxiv.org/abs/1910.01756

It sounds like this package can have different backends, so it may be worth investigating if it could be made compatible with exoplanet.

[2019-10-14 17:50] ericagol commented on #65
And, it looks like in their future work list they mention HMC.

[2019-10-17 15:41] exowanderer commented on #45
I just want to add my voice to the motivation for an eclipse fitting tutorial using exoplanet + starry.  It would be wonderful.

Question: Does it not work out *okay* to use the transit fitting with u=[0] and r = np.sqrt(e_depth)?  I did that and the results 'feel' okay.

[2019-10-19 13:19] ericagol opened #66 "Example application: joint fit of RV and astrometric data"
@dfm
The planet candidate &epsilon Indi A b has a claimed detection in combined RV and astrometric data.  This might be an interesting case to study with exoplanet:

https://arxiv.org/abs/1910.06804

although this star is active:

https://arxiv.org/abs/1803.08163

[2019-10-22 13:29] rodluger commented on #45
Hey @exowanderer, check out [this tutorial](https://rodluger.github.io/starry/v1.0.0.dev5/notebooks/EclipsingBinary.html). You'll need to install the [dev version](https://github.com/rodluger/starry/tree/dev) of starry and make sure you have the latest version of exoplanet. I'm still working on this new version, so things are likely to change slightly before the next release (which I'm hoping will

[2019-10-22 13:30] rodluger commented on #45
As for the hack you suggested, that seems fine, but you won't be able to model any brightness structure on the surface of the planet that way.

[2019-10-25 18:39] ericagol commented on #66
And also join fit of direct-imaging and astrometric data:

https://arxiv.org/abs/1910.10169

[2019-10-31 12:02] exowanderer commented on #45
**[Note:]** I will probably make this an issue (or PR?) on the `STARRY` github page; but it is directly relevant to anyone trying to use `starry`'s dev branch for eclipse observations; i.e. this issue on `exoplanet`.

---
I was able to properly install `starry`'s `dev` branch and run 2 of the notebooks (the only 2 that I tried); but it required some editing of the `setup.py` file for two independe

[2019-10-31 12:03] exowanderer commented on #45
## Modifications to `setup.py`: add `find_packages`
I had edit the `setup.py` file, such that the `ops` submodule would be included in my env's `site-packages` directory.

To do this, I followed  [suggestions this SO thread](https://stackoverflow.com/questions/30474804/setuptools-python-setup-py-install-not-copying-all-child-modules). Namely, that I could

(1) import the `find_packages` module as

[2019-10-31 12:03] exowanderer commented on #45
## Modifications to `setup.py` for `ops.py`: add `packaging` to `install_requires` kwarg
The ops.py file includes a check at the top of the file for the version `exoplanet`; but it does so by using a package called `packaging`, which is not a default install for anaconda environments [any envs(?)].

As a result, I had to install that manually; i.e. `conda install packaging`. This obviously is a tr

[2019-10-31 12:03] exowanderer commented on #45
## Testing Notebooks:
(1) `EclipseBinary.ipynb` notebook worked; but the `pm.sample` step took way too long; so I stopped iterating.  I have 16 cores, but `tqdm` reported that the 4 chains were going to take ~5 hours to complete. This is likely because the model has ~35 parameters in the "Ylm" from the `map_soln`.

(2) `HotJupiterPhaseCuve.ipynb` notebook worked great, including processing through

[2019-10-31 12:03] exowanderer commented on #45
## Finale
I am wicked enthusiastic about the work that you're making for STARRY v1.0. I see that you are including the use cases for transiting and eclipsing exoplanets + phase curves. I tried to hack this together with STARRY v0.2 (with lots of help from you); but I never got it to perform with physically meaningful behaviour -- mostly in the edge cases. Your notebooks perform *a lot* better than

[2019-11-05 18:46] rodluger commented on #45
Hi @exowanderer, thanks for all the feedback. I've made the recommended changes on the `dev` branch of `starry`. Can you try running the [Eclipsing Binary notebook](https://rodluger.github.io/starry/v1.0.0.dev6/notebooks/EclipsingBinary.html) again, and let me know if it still takes an unreasonable amount of time? Currently on Azure it's taking 1m30s to run the sampling.

[2019-11-05 18:52] rodluger commented on #45
As for your other question, you can typically call the `.eval()` method of a Theano tensor to get its numerical value. Things can get weird, though, inside of a PyMC3 model, so @dfm wrote [this convenience method](http://exoplanet.dfm.io/en/stable/user/api/#exoplanet.eval_in_model) to help out. I could probably give you better pointers if you told me the specifics of your problem; perhaps share yo

[2019-11-05 18:56] rodluger commented on #45
Finally, a heads up to anyone following this thread. As of early November, I'm developing `starry` version `1.0.0.dev6` on the `dev` branch of https://github.com/rodluger/starry. It's mostly finished, and I'm hoping to release version `1.0` in the next month. Check out the [current docs](https://rodluger.github.io/starry/v1.0.0.dev6/index.html) for info on all the features I've implemented so far,

[2019-11-05 18:56] #45 closed

[2019-11-10 21:45] iancze commented on #22
Strangely enough, I also just ran into this same issue (with 1/4 chains getting stuck, though for a 28 parameter fit to a triple star, not a transiting exoplanet system). Turns out I am on theano v1.0.4 as well, though I arrived here by default after a fresh conda install a few days ago. Will try an updated theano version.

[2019-11-10 23:04] dfm commented on #22
This definitely isn't the same problem and probably isn't related to the Theano version. It probably isn't even an exoplanet issue (it's normally something to do with modeling choices), but open a new issue if you can't get it sorted!

[2019-11-11 04:38] iancze commented on #22
Thanks for the quick reply! I ran the chains again (exact same model, tuning params, and starting points) and nothing stuck this time. It seems to be somewhat of a transient behavior.

This did only start happening once I complexified my model with more parameters, so you're probably right that it's something to do with modeling choices.

[2019-11-22 20:05] mrtommyb opened #70 "Consider whether exoplanet should use DensityDist rather than Potential"
PyMC3 recommended way to include a custom likelihood function is with pm.DensityDist, e.g.

[code]
However in the exoplanet examples, the the GP likelihood is implemented as pm.Potential. The results are the same but it might be sensible to implement the samples using the standard PyMC3 way of doing it. Advantages include clear separating out of the observables. Additionally, some of the nice plot

[2019-11-22 20:19] dfm commented on #70
I think this would be cool, but it would probably be better to separate `y` from `mean + light_curve` since that is actually the mean. I've been working on a better GP interface, but who knows how long it will take so I'd love a pull request to dfm/exoplanet-docs that changes the notation.

[2019-11-25 15:41] mrtommyb commented on #70
Ok. I will try to work on it.

[2019-12-12 19:32] gjgilbert opened #71 "GP implementation of a precomputed covariance matrix"
PyMC3 supports multiplying a GP covariance function with a precomputed covariance matrix, as seen with the example below copied from the PyMC3 docs (https://docs.pymc.io/notebooks/GP-MeansAndCovs.html). **Is it possible to do something similar directly with exoplanet?**

Thanks!

[code]

![image](https://user-images.githubusercontent.com/26722326/70741814-c665c880-1ce1-11ea-8ef8-3e3ab50d2aab.png)

[2019-12-12 19:50] dfm commented on #71
This is really only supported for products of celerite kernels (in which case, you can just take the product of the `Term` objects) because the product of a celerite matrix with a general matrix will be a general dense matrix and it won't be possible to get scalable solves. As far as I can tell, there aren't any general results for the inverse and determinant of [element-wise products of matrices]

[2019-12-12 19:50] dfm commented on #71
PS. If you don't need fast solves, everything is easy, but presumably you want to use exoplanet for the fast GPs?

[2019-12-12 20:11] gjgilbert commented on #71
Yes, exactly, I want to take advantage of the fast GPs.

In practice, I might be okay with the slow case. For my specific use here, I've computed the covariance matrix based on the autocorrelation function (ACF) of the out-of-transit flux from a Kepler light curve. I plan to multiply this matrix by a constant term GP. So, I'm not actually fitting a computationally expensive GP; in the future I mig

[2019-12-12 20:13] gjgilbert commented on #71
I should also mention that my covariance matrix is a sparse block diagonal matrix because I'm only concerned with correlations on the timescale of transits.

[2019-12-12 20:25] dfm commented on #71
You definitely don't want to fit the ACF - just fit the GP directly to the out of transit points then you can fix the hyperparameters. In general, I find that this doesn't make much of a difference compared to just marginalizing over the hyperparameters simultaneously with the transit fit (especially if the correlations are on a transit timescale), but maybe it'll matter more in your case!

What I

[2019-12-12 20:25] #71 closed

[2019-12-12 20:32] gjgilbert commented on #71
Thanks, for your help, Dan. I agree - this is a pretty specific case. I'm going to keep working on this and I'll email you with any more questions I have.

[2019-12-12 20:34] ericagol commented on #71
@gjgilbert   I've done something similar before in which I computed the ACF of a Kepler light curve, and then fit the ACF with the sum of celerite terms.  This was with an older, slower version of celerite, but it worked well for that purpose!  https://github.com/ericagol/tyc3559_julia

[2019-12-12 20:47] gjgilbert commented on #71
Thanks, @ericagol. I'll take a look at this.

[2019-12-13 13:38] dfm commented on #71
Let it be known that I will *never* condone fitting a model to an ACF estimator for any reason. The whole point of celerite is that that isn't necessary anymore!

[2019-12-13 16:16] ericagol commented on #71
Indeed;  I did that before Sivaram developed the faster method, and I didn’t think I could optimize the kernel parameters since I was applying it to an entire Kepler light curve, so the likelihood computation was quite slow.

Eric Agol
Astronomy Professor
University of Washington

[2019-12-23 15:31] dfm commented on #24
+1 reminder on this. @petigura has notes.

[2019-12-23 20:56] ericagol commented on #24
I have had some issues with severe numerical cancellations for the derivatives which occur in my N-body code (and even are present when N=2, i.e. in the Keplerian case).  Have you checked that the auto diff derivatives are accurate?

Eric Agol
Astronomy Professor
University of Washington

[2019-12-23 21:36] ericagol commented on #24
The reason I bring this up is that the cancellations can depend on the parameterization.

Eric Agol
Astronomy Professor
University of Washington

[2019-12-23 22:21] dfm commented on #24
All the derivatives are pretty extensively tested. That's not the issue. The problem is normally variable dynamic range (see Neal's funnel etc.)

[2019-12-25 13:09] Vital-Fernandez opened #72 "Installation error in windows gcc exit status 1 with no sys/mman.h file"
I run the following commands to install exoplanet in a new anaconda environment:

[code]
And then I get:

[code]

I should just install linux in this machine but if anyone has encountered this issue I would love to hear your advice (merry xmas :)

[2019-12-25 13:24] dfm commented on #72
This is actually falling while trying to install [rebound](https://github.com/hannorein/rebound) before it even gets to exoplanet. So you could look there to see if you can find tips. Let's leave this issue open though because rebound is not a required dependency for all of exoplanet so we should make it possible to skip installation. It might work for you to try `pip install --no-deps exoplanet`

[2019-12-25 13:48] Vital-Fernandez commented on #72
Thank you Dan very much for your reply (and for this library).

I tried your suggestion. The command gave me:

[code]

However, when I tried to import exoplanet:

[code]

However, if it is a rebound library issue I shall investigate its requirements...

[2019-12-25 21:59] Vital-Fernandez commented on #72
It seems rebound is actually not compatible with windows. From the documentation:

... so I better change OS :)

[2019-12-30 17:13] dfm commented on #72
@Vital-Fernandez: I just published a new release that moves rebound to an optional dependency so:

[code]

should now do the trick for you. It should also be available for windows on conda-forge soon.

[2019-12-30 18:09] Vital-Fernandez commented on #72
Thank you very much! I am going to test it right now!

[2020-01-03 17:50] Vital-Fernandez commented on #72
@dfm So far all the tests I have run work fine 👍

Thanks a lot for your work.

[2020-01-03 17:50] #72 closed

[2020-01-03 23:49] dfm commented on #70
@mrtommyb: I implemented this on the flight to AAS. It's on the `new_gp` branch if you want to take a look: https://github.com/dfm/exoplanet/blob/new_gp/src/exoplanet/gp/celerite.py#L117

The syntax is now something like:

[code]

[2020-01-16 16:43] dfm opened #73 "Support for transit duration variations"
A feature request from @gjgilbert.

A more general interface could be to allow **any** of the orbital elements to be a function of transit number. Right now, transit time is hard coded as the only one to vary, but it shouldn't be too bad to add impact parameter (or inclination? or both? things start to get a little tricky) as another parameter that varies. I'm inclined to think that the more gener

[2020-01-16 17:14] gjgilbert commented on #73
Thanks for considering this, @dfm.

I can think of two ways I'd want to interact with this feature as a user:

1. Warping of the transit shape in a way that is not necessarily tied to physical orbital elements. That is, transit time variations, transit duration variations, and transit depth variations.

2. Variable orbital elements, e.g. impact parameter, eccentricity, etc. that are more closely t

[2020-01-16 18:34] dfm commented on #73
For the 1st use case, folks should generalize the [SimpleTransitOrbit](http://exoplanet.dfm.io/en/stable/user/api/#exoplanet.orbits.SimpleTransitOrbit) implementation instead of the KeplerianOrbit or TTVOrbit. I'm not excited about implementing that, but I would definitely be keen to chat about a pull request!

[2020-01-16 20:12] gjgilbert commented on #73
Yes, let's chat about a pull request! The 1st use case is more suited for my current project, so I'd be excited to work on it.

[2020-01-17 07:00] ericagol commented on #73
I think 1. should suffice in most cases.  2. can often be described by a model for the variation of the orbital elements, which is more akin to photodynamics.

[2020-01-17 16:17] dfm commented on #73
@gjgilbert: Awesome!

I think that the best first step would be a mash up of `SimpleTransitOrbit` [[src](https://github.com/dfm/exoplanet/blob/master/src/exoplanet/orbits/simple.py)] with `TTVOrbit` [[src](https://github.com/dfm/exoplanet/blob/master/src/exoplanet/orbits/ttv.py)] to make a `SimpleVariationOrbit` (?) that takes all the same arguments as the `SimpleTransitOrbit` plus `ttvs`, `transi

[2020-01-17 19:51] gjgilbert commented on #73
@dfm: Sounds like a plan! To clarify your proposal, you're suggesting that we also implement a superclass that contains both `SimpleVariatonOrbit` and `TTVOrbit`?  I agree there will be quite a bit of overlap between the two.

I have a proposal deadline coming up soon, so I likely won't be able to start working on this in earnest for another week or two. I'll take a look over the source code and d

[2020-01-17 19:58] dfm commented on #73
Yes - I'm imagining that `TTVOrbit` would inherit from `KeplerianOrbit` and `VariationOrbit` (?), and that `SimpleVariationOrbit` (?) would inherit from `SimpleTransitOrbit` and `VariationOrbit`.

No rush! Let's stay in touch.

[2020-01-20 17:13] #70 closed

[2020-01-20 17:17] #49 closed

[2020-01-20 17:17] #15 closed

[2020-01-20 17:17] #16 closed

[2020-01-20 17:18] dfm commented on #59
Here's a demonstration of this method in practice: https://gist.github.com/dfm/122a184be253ead0466c424cf3932b5d

[2020-01-20 17:18] #59 closed

[2020-02-04 20:58] hughesymendes opened #74 "Help with program"
Hi everyone,

My name is Alex and im an undergraduate student at Loughborough university, currently undergoing my final year project in which im using data from TESS to hunt for my own exoplanet candidates.

Im trying to use radial velocities to help calculate masses, in order to negate eclipsing binaries from my shortlist etc but il admit my coding is sub par and im not sure how to go about it, h

[2020-02-05 19:35] dfm commented on #74
TESS does not measure radial velocities so you'll need to rely on another instrument. The NASA Exoplanet Archive has some public RV measurements and you can sometimes find values in tables published about specific targets. Most planets discovered in TESS will not have RV follow-up unfortunately.

[2020-02-13 23:24] dfm opened #75 "GP likelihood shouldn't complain about Fortran order for 1D data"
**To Reproduce**
This section should include a simple, standalone code snippet that demonstrates the issue.

[code]

Currently throws a "dimension mismatch" error.

[2020-02-13 23:24] dfm commented on #75
From @ruthangus

[2020-03-03 21:17] dfm commented on #75
This actually seems to work just fine - not sure what was happening before. It must have been something else about data read in from a FITS file. Let's re-open if we find it again.

[2020-03-03 21:17] #75 closed

[2020-03-11 00:35] exowanderer opened #76 "Wavelet Log Likelihood (Carter & Winn 2009)"
**Is your feature request related to a problem? Please describe.**
I'm using `exoplanet` to integrate PyMC3 with efficient transit modeling. I have the `base` system running smoothly -- thanks to great tutorials. Thank you.

I was requested by a collaborator to include the Carter & Winn (2009) Daubechies wavelet likelihood.

(1) I am able to generate log_likelihood as a float value. So that first

[2020-03-11 12:12] exowanderer commented on #76
In a directly related problem, I am able to compute the wavelet likelihood given the model and residuals in `np.array` format. The function call is

`dwt_chisq(model_prediction, data, [gamma, sigma_r, sigma_w])`

To run this with `xo` via `PyMC` it places `model_prediction` as a tensor (i.e. `theano.tensor.var.TensorVariable`); also, `gamma`, `sigma_r`, and `sigma_w` are each of type `theano.tenso

[2020-03-11 12:55] dfm commented on #76
Hi Jonathan,

The catch here is that you need to provide the wavelet likelihood as a [Theano op](http://deeplearning.net/software/theano/extending/extending_theano.html) and you need to be able to compute the gradient of this operation with respect to its inputs. [Here's how I worked out the gradients for celerite](https://arxiv.org/abs/1801.10156) and I bet something similar would be possible (an

[2020-03-11 17:43] ericagol commented on #76
@exowanderer

To add to what @dfm said, the wavelet model from the Carter & Winn paper solves for the correlated noise component assuming a specific power-spectrum:  `f^{-1}`, aka pink noise.  (Their paper in principle allows for other power-laws, `f^{-\nu}`, but the fast scaling of the algorithm only works for `\nu=1`, if I remember correctly).

This power-spectrum is not a great description of s

[2020-03-11 17:54] dfm commented on #76
@ericagol: Do you mean Q=1/sqrt(2) rather than 1/2?

[2020-03-11 20:35] ericagol commented on #76
I used Q=1/2 for this plot.  Here's the Julia code:

[code]

[2020-03-11 21:56] dfm commented on #76
@Ericagol: there will be numerical issues for Q=1/2 so I generally recommend Q=1/sqrt(2) or something else that's not exactly 1/2.

[2020-03-11 22:27] ericagol commented on #76
Right, that's the Matern kernel.   Here's a case with Q=1/3 which looks even better.
![CarterWinn_vs_celerite_Qthird](https://user-images.githubusercontent.com/243664/76469980-bcb93300-63ac-11ea-9c74-1e05c69058dc.png)

[code]

[2020-03-12 10:03] exowanderer commented on #76
You are both great! Thank you for the discussion; and, especially, code the code segments. I am a big fan of GPs.  I just have a lot of problems picking out the 'best' kernel+hyperparameter combos.

For instance, I read [the celerite paper](arxiv.org/pdf/1703.09710.pdf) -- and we talked about using the SHO in replacement for the [CW-Wavelets](arxiv.org/pdf/0909.0747.pdf). My issue is that I find i

[2020-03-12 10:03] #76 closed

[2020-03-12 10:09] exowanderer commented on #76
As a secondary conversation: when collaborating on an observation paper, the conversation often starts with 'we need to measure the red noise'; but then it also includes 'GPs are too complicated/versatile'. In the framework of academic inertia, may I suggest that you could make small examples (i.e. notebooks) that show how to use exoplanet+celerite to model previously established norms in our fiel

[2020-03-12 12:58] exowanderer commented on #76
Combining [example1](https://github.com/exoplanet-dev/exoplanet/blob/a3453d485d05f40f427be8cf524d02e490320add/docs/notebooks/gp.py) and [example2](https://github.com/exoplanet-dev/exoplanet/blob/11efbc1132caf4635981220e010ac5abdf4fb8e1/src/exoplanet/gp/celerite_test.py), here is what I came up with:

[code]

such that my script, which also creates PyMC3 priors for eclipse_depth, mean, etc inside:

[2020-03-12 13:35] dfm commented on #76
No - log_s2 is the white noise variance. There's no reason why this should be related to the GP amplitude!

[2020-03-13 01:29] exowanderer commented on #76
I created a synthetic data set with pink noise, and the modeled that data with `exoplanet` + `celerite`.
The full example, which runs from end-to-end for me, can be found [here](https://github.com/exowanderer/exoMAST_API/blob/master/pymc3_model_with_gp_example.py)

The important part for this discussion is included here
[code]
I was able to run this model and converge to a meaningful solution; but

[2020-03-13 02:10] exowanderer commented on #76
There's a completely unrelated problem that I've been encountering. I can enter either the inclination, impact parameters, or transit duration; but only one a time. [this is built in; no problem]

The problem arises that I've tried this exact same code on 3 machines, and ~10 times per machine.  Depending on the machine and time of day (i.e. randomness), the KeplerianOrbit object does not like the

[2020-03-13 13:38] dfm commented on #76
That second comment should be a separate issue - feel free to open one!

There are a few issues with the first one:

1. First, you're including the likelihood *twice*:

[code]

The first one is the likelihood assuming white noise (with the quoted error bars) and the second one is assuming both white noise and a GP. The first one shouldn't be there at all!

2. The GP model currently isn't taking th

[2020-03-13 16:03] ericagol commented on #76
My understanding from Carter & Winn is that pink noise has a `1/f` power spectrum.  However, this power spectrum isn't normalizable, so the ACF doesn't exist!  In practice I think it is defined over some range of frequencies, which might correspond to the inverse exposure time and total duration of the data.  Then, the ACF is defined in terms of the difference of inverse cosine integrals (which I

[2020-03-13 16:21] exowanderer opened #77 "Aperiodic error when computing xo.orbits.KerplerianOrbit"
**Describe the bug**
When creating an instance of the `xo.orbits.KeplerianOrbit` object, I **sometimes** incur an error that reports `ValueError: Cannot compute test value ... missing default value.` [see full traceback below].

I always provide the exact same values every time; but every ~5th try, Theano triggers this error.

The behaviour of `xo.orbits.KeplerianOrbit` is such that we can either

[2020-03-13 16:29] dfm commented on #77
The problem here is that you can't use `eval` with something within a PyMC3 model. Instead you need to use `xo.eval_in_model`. The fact that it doesn't always fail will have something to do with the fact that you're using variable outside the scope of this function (this function doesn't execute because `planet` doesn't exist).

[2020-03-13 16:56] exowanderer commented on #77
I need to make two apologies with respect to my previous post.

1. I do *not* call this function inside the `with pm.Model() as model`. I got trivially confused with the flow of my own code; probably from how many times I edited it. Therefore the `.eval` is only called outside the PyMC3 usage.

    At the same time, the `orbit` instance is passed into the PyMC3 model + `xo.optimize` + `pm.sample`

[2020-03-13 17:24] exowanderer commented on #77
Well, it happened again.  I was running [the same colab notebook](https://colab.research.google.com/drive/1ZDIv0aWaE9uYlH-Ktyk3dGLOFrTtCwIT) very successfully for ~10 iterations; then I reset the environment, "just to check", and incurred the same error as before.

I changed absolutely nothing between the successful trials and unsuccessful trials; I only selected Runtime > Reset and Run All

The t

[2020-03-13 17:29] dfm commented on #77
Can you try to make a minimal example that reproduces this error message without everything else that's going on. This error always happens when you have some dependence on a pymc3 object in your call so something is happening with the objects outside the scope being overwritten. There's too much going on in your colab to really track it down so please try to make a smaller example and we'll figur

[2020-03-13 19:28] exowanderer commented on #77
**GoodNews/BadNews:**

I made two simplified colabs

1. [Problem Colab Notebook](https://colab.research.google.com/drive/1io9NT8TJneKQlCcf3PuqxJD1Fl5Pe8J7)
2. [Solution Colab Notebook](https://colab.research.google.com/drive/1iGBWd5ez2LJvZrIXKVNwTXJ45Z0tLB63)

The `problem` colab reproduces the error repeatedly. I think that every time I hit `Restart and Run all`, I incurred the same error seen ab

[2020-03-14 13:59] dfm commented on #77
Let's keep this open - I haven't been able to figure out why that error gets thrown even though it shouldn't (it seems to have something to do with how pymc3 changes the theano settings) so I'd like to figure it out!

[2020-03-19 11:22] #74 closed

[2020-03-31 01:01] shbhuk commented on #72
Hi, Just checking regarding this.
Despite rebound being pushed to the optional dependencies.. it will still be required to run the unit tests, right?

Just trying to diagnose the errors there and hence am wondering if this is the main cause.

[2020-03-31 12:07] dfm commented on #72
Ah - good point! I believe that that is true. Let's open a new issue to move those to optional as well.

[2020-03-31 13:38] shbhuk opened #78 "Move rebound tests to optional"
Considering issue #72 , move the tests requiring rebound from standard to optional.

[2020-03-31 16:44] dfm commented on #78
This is now implemented on GitHub master and I added a few features to make running on Windows a bit easier. Thanks!

[2020-03-31 16:44] #78 closed

[2020-04-01 17:27] shbhuk opened #79 "Model Comparison for RV fitting"
Hi,
I'd like to check if you have any criterion currently defined to estimate the goodness of fit of the optimizer, and then compare that to various models, i.e. with different priors and/or different parameters fixed or floating.
Be it logZ, BIC or something along those lines.. Perhaps if nothing else, then even a Reduced Chi^2 to estimate the goodness..

**Describe the solution you'd like**
If w

[2020-04-02 14:16] shbhuk commented on #79
For example, something like this - https://radvel.readthedocs.io/en/latest/_modules/radvel/driver.html#ic_compare

[2020-04-02 15:06] dfm commented on #79
I'd never recommend using information criterion like this or doing model comparison in general. There are generally always better options, but that's beyond the scope of this discussion. If you want to evaluate the BIC or similar, you can compute the value of the model's log probability using something like:

[code]

or the log likelihood

[code]

Then you can compute your favorite information cri

[2020-04-02 15:13] shbhuk commented on #79
I see. And is there a way I could use the parameters estimated after the MCMC sampling including their uncertainties to estimate the loglikelihood or probability?

[2020-04-02 15:16] dfm commented on #79
No. If you want that number you should use one of the snippets I gave above!

[2020-04-02 16:09] shbhuk commented on #79
Got it.
For reference this the model comparison feature calculates the WAIC for the trace - https://machinelearningmastery.com/probabilistic-model-selection-measures/ and works reasonably well. I can compare the MAP and sampled IC values for two different models.
Thank you

[2020-04-02 16:09] #79 closed

[2020-04-02 21:56] shbhuk opened #80 "Fixing a parameter for MCMC runs"
I wanted to check what is the best way to fix a variable for the MCMC runs, such that it is treated as a constant and not included in the sampling chains, but still included in the log probability calculation?

For example can I provide a list of variable names of the pm.sample? I did look at the PyMC3 documentation but was unable to find something along these lines.

Due you know of some xo or py

[2020-04-03 01:28] LionelGarcia commented on #80
You can use pymc3.Deterministic(“name”, value)

[2020-04-03 01:43] shbhuk commented on #80
Thank you, the label should have been question, and not enhancement.

[2020-04-03 02:21] shbhuk commented on #80
Just a note for future reference, value has to be a Theano variable..

[2020-04-07 19:48] shbhuk opened #82 "Combining different datasets"
Hi,
I am trying to combine different photometric datasets first for transit modelling, and eventually combine later with RVs for a joint fit.

I'm wondering regarding the best way to do this such that the log likelihoods take into account different sample sizes? For example, if I'm combining a TESS light curve with 2-3 ground based transits,  due to the larger sample size of the TESS sample (than

[2020-04-07 19:52] dfm commented on #82
You should never reweight datasets based on the number of observations. The only correct way to combine datasets is to multiply the likelihoods! If you believe that a dataset is overly constraining then that means that you don't believe the error bars. In that case you deal with it by making the noise model more flexible by fitting for a jitter or by using a Gaussian process.

[2020-04-07 20:14] shbhuk commented on #82
I see. So, in the case study for combining RVs and photometry is the log likelihood addition being handled implicitly behind the scenes by PyMC3?

[2020-04-07 21:21] dfm commented on #82
Yep - that's right!

[2020-04-07 21:25] shbhuk commented on #82
Great, thanks for clarifying!

[2020-04-07 21:25] #82 closed

[2020-04-09 19:23] dfm commented on #77
I figured this out. It happens because PyMC3 changes Theano's behavior. You can get your code to run by adding the following at the top of the notebook:

[code]

In that case, all of the test values are propagated properly.

(note: that there are other issues, like negative uncertainties, that make the results nonsense, but this was the issue causing the crash 😄)

[2020-04-09 19:23] #77 closed

[2020-04-09 23:51] #8 closed

[2020-04-15 20:44] adrn opened #84 "Feature request: Push new feature that enables simultaneous RV+Light curve fitting"
I want to simultaneously fit radial velocities and a light curve of an eclipsing binary, and you said you implemented some new features to enable this (but haven't pushed yet)! ❤️

[2020-04-16 16:02] adrn opened #85 "Feature request: Allow custom tqdm instance, or use tqdm.autonotebook in xo.optimize"
**Is your feature request related to a problem? Please describe.**

The console `tqdm.tqdm` progressbar can wreak havok in Jupyter notebooks if a cell is interrupted, so it is safer to use `from tqdm.notebook import tqdm`. The console progressbar is used internally in `xo.optimize()` (and maybe elsewhere?), but can't be customized.

**Describe the solution you'd like**
Either:
1. Add an option lik

[2020-04-16 16:21] dfm commented on #85
Sure - that would be great! It might be worth taking a look at PyMC3 too to see if you could contribute that to the sample method because the same problem will happen there.

[2020-04-18 22:14] arjunsavel commented on #54
Hello! I was wondering if it'd be desirable to implement this by introducing post-Newtonian corrections with REBOUNDx (example [here](https://github.com/dtamayo/reboundx/blob/master/ipython_examples/GeneralRelativity.ipynb?fbclid=IwAR3w0BBqi6d07hJM6KZeAQ-UfGIOQhnUek4sNFxHlFyDN2lLfkA_FRwEGHo)).

[2020-04-22 14:10] adrn opened #88 "Docs: Highlighted text after search is hard to read"
If I go to the exoplanet docs and search for something, e.g., "impact parameter", the highlighted text on the search results page seems to be nearly white text on white background?

![image](https://user-images.githubusercontent.com/583379/79992441-79f57b00-8481-11ea-9cc5-ca030c6475f1.png)

Google Chrome Version 80.0.3987.163

[2020-04-22 14:11] adrn commented on #88
Example: https://docs.exoplanet.codes/en/stable/user/api/?highlight=impact%20parameter

[2020-04-22 14:17] dfm commented on #88
Thanks!

This will be fixed by adding some CSS to: https://github.com/exoplanet-dev/exoplanet/blob/master/docs/_static/css/exoplanet.css

or by adding

[code]

to `conf.py`.

[2020-04-22 14:48] #85 closed

[2020-04-23 11:26] dfm commented on #88
Fixed!

[2020-04-23 11:26] #88 closed

[2020-04-23 11:37] dfm commented on #54
@arjunsavel That would definitely be interesting! I've implemented an interface to rebound (without the x) and an extension to include this would be cool, but I don't have a sense of how feasible that would be (does REBOUNDx play nice with variations for example?). Either way, if you're interested in taking a stab at it, that would be awesome! Take a look [here](https://github.com/exoplanet-dev/ex

[2020-04-23 19:12] arjunsavel commented on #54
@dfm Thanks for the response! I'd been thinking of making a PR to `rebound-pymc3`, but I agree that starting with the Python implementation would make sense. Also, I'm not sure whether REBOUNDx handles variations — I'll definitely give it a go, though!

[2020-05-04 13:16] dfm commented on #84
Done and done: https://gallery.exoplanet.codes/en/latest/tutorials/eb/

[2020-05-04 13:16] #84 closed

[2020-05-04 14:49] dfm opened #92 "CI builds on Windows fail intermitently"
The Windows builds on GitHub actions fail (seemingly) randomly with the following assembly error:

[code]

If I re-run the build sometimes exactly the same code will compile just fine. I've tried all of the suggestions from [this stack overflow question](https://stackoverflow.com/questions/43152633/invalid-register-for-seh-savexmm-in-cygwin), but none of them work:

- `-fno-asynchronous-unwind-tab

[2020-05-04 15:42] jobovy commented on #92
Not directly helpful, but I've been using [VirtualBox](https://www.virtualbox.org/) to develop and maintain the Windows version of galpy and that's been very helpful in iterating on lots of compilation issues. If I recall, it takes a little effort to set it up for development (but installing conda is pretty easy), but once it's set up, you can quickly boot it up to diagnose issues.

Also not direc

[2020-05-04 15:55] dfm commented on #92
@jobovy: Thanks for the tips!

I'll try out VirtualBox - I have a few projects where I would like to make sure that the the Windows version is stable so this will come in very handy!

I was originally using miniconda, but tried switching to the bundled version when I was getting this same issue there.

[2020-05-05 13:29] dfm commented on #92
Quick update: Everything seems to run and compile just fine on VirtualBox :/ and I confirmed that the issues still remain when I naively use miniconda.

[On Twitter](https://twitter.com/a_hartikainen/status/1257384070734123011), @ahartikainen suggested:

I wasn't able to solve a consistent environment using only `conda-forge` (a few lower-level packages seem to be required from `defaults`) but I'm

[2020-05-05 17:41] dfm commented on #92
It looks like the conda-forge suggestion might have worked (#93) so I'm going to close this for now and re-open if the failures start again. Thanks all for your suggestions!

[2020-05-14 17:44] dfm commented on #62
So - I worked out how to do this. Basically, if you want a kernel with the form:

[code]

you can just use:

[code]

and:

[code]

Which means that `J` will be larger by a factor of 2 (I can't see how to improve on that), but something like this should work for any problem where we need a variable coefficient. We'll need to think a bit about positive definiteness, etc. but this could be useful.

H

[2020-05-14 18:28] ericagol commented on #51
I worked out some of the math for this - I can TeX it up at some point, but not sure where it should go...

[2020-05-15 12:40] dfm commented on #51
Maybe we need a celerite 2.0 paper?

[2020-05-20 02:03] mrtommyb opened #96 "Allow an upper limit on the eccentricity distribution"
**Is your feature request related to a problem? Please describe.**
I would like to include an upper limit on the eccentricity (a physical motivation for this could be to prevent crossing orbits

**Describe the solution you'd like**
Ideally the function call would be
[code]
or
[code]

**Describe alternatives you've considered**
I tried several methods to implement solutions including:
* modifying t

[2020-05-20 02:14] mrtommyb commented on #96
It does look like part of my problem is an upstream issue, e.g.
[code]
fails with SamplingError: Bad initial energy

[2020-05-20 03:01] jiayindong commented on #96
Adding a lower bound to `bound_beta` may help with the sampling, e.g.,
[code]
I tested this on my system without the bad initial energy error.

[2020-05-20 03:06] mrtommyb commented on #96
Thanks @jiayindong that does fix that issue. So I think I could get most of what I want by defining my own eccentricity distribution function rather than using xo.eccentricity.kipping13.

[2020-05-20 03:34] jiayindong commented on #96
Great! If you want to consider uncertainties on alpha and beta instead of the medians,
[code]
adopted from xo.eccentricity.kipping13.

[2020-05-20 04:31] mrtommyb commented on #96
perfect, thanks!

[2020-05-20 10:21] dfm commented on #96
Thanks @jiayindong!

@mrtommyb: it looks like the other error you were finding was also caused by a missing `lower`. It looked different because the parameters of the `Beta` are variables.

Either way, it was easy enough to add so I push this feature.

[2020-05-21 12:48] dfm commented on #92
Re-opening because this fix didn't work!

[2020-05-21 13:07] ahartikainen commented on #92
Is this related

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65782

https://github.com/numpy/numpy/issues/14787

Would old numpy work?

[2020-05-21 13:20] dfm commented on #92
I came across those issues as well and it seems like they must be related, but the recommended fixes didn't work for me in general. I'll play around with numpy versions to see if that helps. Thanks!

[2020-05-26 11:25] dfm opened #97 "Implement the backprop for celerite matmul op"
This should be quite similar to the solve op.

cc @ixkael

[2020-06-01 04:17] darinadaly opened #99 "Building wheel for batman-package & starry"
MacOS Catalina (10.15.4)
Python 3.8.2
pip 20.1.1
(Not sure if this is actually a bug, but I accidentally labeled it and don't know how to remove it now)

I ran (in bash)
[code]
and came across the error:
[code]

I looked at issue #72 and tried
```pip install rebound```

but was stopped at
`
ERROR: Command errored out with exit status 1: /Users/darinadaly/miniconda3/envs/project2/bin/python3.8 -u -

[2020-06-01 11:57] dfm commented on #99
Unfortunately this doesn't seem to be an `exoplanet` issue so I'm not sure how much help I can be, but I'll try!

First, a few comments:

- `pip install -e .[test]` isn't *testing* the installation. It's installing the dependencies that are required to *run* the tests
- `batman`, `starry`, and `rebound` are not required to use `exoplanet` (they're only used to run tests), and they're separate pack

[2020-06-01 13:49] dfm opened #100 "Add support for orbital elements that vary as a function of time"

[2020-06-03 20:44] darinadaly commented on #99
Thank you for the suggestion! My apologies for misunderstanding, I am very new to coding. Actually my main issue now seems to be with theano when I run `python -m pytest -vx tests/light_curves_test.py
` :

[code]
***
Exception: ('The following error happened while compiling the node', Elemwise{Mul}[(0, 1)](InplaceDimShuffle{x,0}.0, Reshape{2}.0), '\n', "Compilation failed (return status=1): /Users

[2020-06-03 21:54] dfm commented on #99
No worries! It looks like you need to upgrade PyMC3 or add the following before you import exoplanet:

[code]

Ref: https://github.com/pymc-devs/pymc3/issues/3695

[2020-06-07 20:49] darinadaly commented on #99
This worked! Thank you so much!

[2020-06-07 20:49] #99 closed

[2020-06-08 16:56] rodluger opened #101 "Implement other limb darkening laws"
Would it be useful to implement other popular limb darkening laws, such as square root, logarithmic, and the Claret 4-parameter one? See equations 3, 4, and 6 [here](http://articles.adsabs.harvard.edu/pdf/2000A%26A...363.1081C).

It's very straightforward to Taylor expand these functions in terms of polynomials in `mu`. There's virtually no overhead in the conversion from `c, d` and `e, f` to `u`

[2020-06-08 17:10] ericagol commented on #101
This is on of the issues which I raised for the Limbdark project:

https://github.com/rodluger/Limbdark.jl/issues/14

The `\mu=0` behavior of these laws is hard to model with a polynomial (this is also true for the "power-2" law advocated by Maxted).  However, a saving grace is that there is not much of the star at `\mu=0` since `r=\sqrt{1-\mu^2}`.  What I would recommend is to optimize the coeffi

[2020-06-09 21:04] darinadaly opened #102 "Can't pickle local object with multi-processing"
I was able to run the cell with chains=1 but not 4.
[code]
With chains=4, I got `AttributeError: Can't pickle local object 'build_model.<locals>.model_lc'`
How can I work around this without having to wait a long time with chains=1?

[2020-06-09 22:02] dfm commented on #102
If you're on Mac, this is the relevant issue: https://github.com/pymc-devs/pymc3/issues/3844

[2020-06-16 16:26] #102 closed

[2020-06-21 15:39] icweaver commented on #101
Wow, I was just looking for a logarithmic LD implementation in `exoplanet` the other day. Thanks so much for working on this!!

[2020-06-25 21:55] mason-macdougall opened #103 "rho_circ posterior distributions showing inconsistencies"
I've noticed a possible inconsistency in the derivation of the rho_circ posterior distribution, for use in photo-eccentricity modeling (similar to in the "Quick fits for TESS light curves" tutorial). Before the feature that allowed for sampling in transit duration, I derived eccentricity estimates by sampling directly in stellar density space to obtain a rho_circ posterior distribution. The newer

[2020-06-26 14:51] dfm commented on #103
Thanks for reporting this! Can you put together a fully executable example (perhaps with simulated data) that I can run and look into? I don't immediately know what's going on!

[2020-07-15 00:48] OriolAbril opened #105 "PyMCon 2020"
Hi!

As you may have already seen on Twitter or on [PyMC Discourse](https://discourse.pymc.io/t/pymcon-2020-planning-is-underway-currently-looking-for-conference-chairs/5436?u=oriolabril), we are planning a virtual conference for the PyMC community. All the information is available in the Discourse post.

We have also put together a [presentation](https://docs.google.com/presentation/d/1f7jSWzcUY3

[2020-07-15 15:17] dfm commented on #105
Thanks for the note! I'd missed this somehow. I'll share with relevant parties. Thanks again!

[2020-07-15 15:17] #105 closed

[2020-07-20 22:11] nascarsdale opened #106 "Failed Test: test_full_adapt_sampling"
Hi exoplanet team,

Thanks for putting together this great tool! I am writing because I have run the tests, per the installation instructions, and failed the "test_adapt_full_sampling" (screenshot attached) for reasons that I could not discern.

![image](https://user-images.githubusercontent.com/55105886/87990038-0ec73f00-ca98-11ea-954d-8dbfe64c7d26.png)

I have no experience using pymc3, and the

[2020-07-21 12:23] dfm commented on #106
Thanks for reporting! I'll look into this.

[2020-07-21 13:00] dfm commented on #106
Hilariously it looks like *I* introduced this regression in a pull request to PyMC3 (PyMC3 has the correct behavior now, but I was depending on the previous, incorrect, behavior here...): https://github.com/pymc-devs/pymc3/pull/3941

[2020-07-21 16:10] dfm commented on #106
This has been fixed on the `main` branch. Thanks again!

[2020-07-21 16:10] #106 closed

[2020-08-01 03:52] kevinkhu opened #107 "Sampling problems"
I've been adapting the "putting it all together" case study to work without RV data, and I ran into an issue at the sampling step, so I re-ran the tutorial without any modifications and ran into the same issue:

[code]
pip, exoplanet 0.3.2, PyMC3 3.9.2, Python 3.7.7, Ubuntu 20.04

[2020-08-01 11:54] dfm commented on #107
Thanks for reporting! I didn't do much testing with PyMC3 v3.9 and it seems to have introduced some regressions in the `sample` function (I rely on undocumented features 😈). I'll take a look at this early next week. Can you try to remember to ping me if you don't hear anything by Wednesday morning?

In the meantime you should be able to use the old version (note `xo` -> `pm`):

[code]

[2020-08-03 17:06] #96 closed

[2020-08-03 19:07] kevinkhu opened #108 "Assuming n planets"
In the putting it all together example I am running into plotting problems if I assume there is only one planet to be found with BLS:

[code]

The rest of the code works great (with the minor sampling hack) for the example problem, but there are a couple areas that could be a little more generalized for people who want to adapt the code for use on other systems. This is mostly applicable in the mo

[2020-08-05 19:50] dfm commented on #107
Alas I didn't get to this yet. I'm going on holiday for the next few days, but I'll have a go early next week!

[2020-08-05 21:07] kevinkhu commented on #107
No worries, the old version hack works for now!

[2020-08-13 16:26] gjgilbert commented on #73
Hey @dfm, I'm picking this back up again. Quick thought we should discuss: do we want to work in terms of the total transit duration (1st to 4th contact) or the full transit duration (2nd to 3rd contact). I prefer 1st-4th, but if you have a strong argument otherwise, I'm open to being persuaded.

[2020-09-02 17:46] ericagol commented on #101
One issue with polynomial limb-darkening laws is that they should guarantee a positive surface-brightness.   This can be accomplished with Sturm's theorem whereby one can check that the boundaries are positive (at the center and edge of the star), and then Sturm's theorem can be checked for the number of roots in between.  If the number of roots in between is zero, then the surface brightness will

[2020-09-07 07:49] bmorris3 opened #111 "Simple GP example causes RecursionError"
When I define a custom mean model via exoplanet's GP object, I get a recursion depth exceeded error that I don't fully understand. This is almost certainly my misunderstanding of the proper mean model definition for `exoplanet` but I can't figure out what's wrong. Any tips? Thanks!

[code]
Should run without error, but I'm getting a very long traceback starting with
[code]
and ending in:
[code]

*

[2020-09-07 08:09] bmorris3 commented on #111
Continuing to investigating, seems like @dfm has seen this before in pymc-devs/pymc3#3844. The suggested fix there is:
[code]
but that doesn't seem to help.

[2020-09-07 08:44] bmorris3 commented on #111
This _does_ go away if `pm.sample(..., cores=1)`. Hmm!

[2020-09-07 10:30] dfm commented on #111
As you say, this is really more of a PyMC3 bug (they are insistent on `forkserver`) since this is an unpickling error deep inside there. I was able to run your code as a script by wrapping the code in a `if __name__ == "__main__":` and including the following argument in `sample`:

[code]

You're going to have some pain trying to ever get this to work in a Jupyter notebook on Mac or Windows with r

[2020-09-07 11:21] bmorris3 commented on #111
Thanks so much for the quick help! Using your tips, I find that the following works in both a script, an ipython environment and a jupyter notebook:

[code]

To summarize, the key changes are passing:
[code]
to `pm.sample` and setting up the mean model with
[code]

[2020-09-07 12:01] dfm commented on #111
Awesome! It's possible that you don't need the context of you subtract the mean manually. Did you try that?

[2020-09-07 13:01] bmorris3 commented on #111
If I manually subtract the mean but leave out the `mp_ctx` kwarg I still get the RecursionError.

[2020-09-07 13:38] dfm commented on #111
That surprises me - very strange!

[2020-09-10 17:24] victoriafoing opened #112 "AttributeError: module 'exoplanet' has no attribute 'PyMC3Sampler'"
**Describe the bug**
A clear and concise description of what the bug is.

PyMC3Sampler not being recognized in exoplanet

**To Reproduce**
This section should include a simple, standalone code snippet that demonstrates the issue.

The following line of code
sampler = xo.PyMC3Sampler(finish=finish, chains=chains)
returns the error
AttributeError: module 'exoplanet' has no attribute 'PyMC3Sampler'

[2020-09-10 19:09] dfm commented on #112
That interface was removed a few versions ago - sorry! The currently recommended interface is described here: https://docs.exoplanet.codes/en/stable/tutorials/pymc3-extras/#dense-mass-matrices

And in the tutorials that follow. Hope this helps!

[2020-09-10 19:12] dfm commented on #107
I finally (only a month late) released a new version of exoplanet that is compatible with PyMC > 3.9. I'm working on pulling out (and improving) some of this functionality here: https://github.com/exoplanet-dev/pymc3-ext

[2020-09-11 17:26] victoriafoing commented on #112
Thanks!

[2020-09-24 15:38] #97 closed

[2020-09-24 20:11] #92 closed

[2020-09-26 14:49] dfm opened #113 "Run v0.4 release"
This will require

- [x] Updating changelog
- [x] Adding a section to the docs about what has been moved and where
- [x] Testing the wheel building action (make a release candidate)
- [x] Updating DNS to point back at RTDs

[2020-10-05 20:07] #107 closed

[2020-10-05 20:09] #112 closed

[2020-10-05 20:09] #111 closed

[2020-10-05 20:12] dfm commented on #108
This isn't really a bug - the tutorials aren't meant to be just copy paste material! I'm going to close this issue as a wontfix, but I'd welcome a pull request (probably to https://github.com/exoplanet-dev/case-studies) if you wanted to add words about this!

[2020-10-05 20:12] #108 closed

[2020-10-16 17:16] LionelGarcia opened #115 "pm.sample cannot pickle LimbDark object"
**Error**
Getting `TypeError: cannot pickle 'exoplanet.theano_ops.driver.LimbDark' object` when sampling a model containing `LimbDarkLightCurve`

**Reproduction**
Fresh virtualenv with `exoplanet`, `pymc3`, `tqdm` installed
[code]
and running [docs/tutorials/transit.py](https://github.com/exoplanet-dev/exoplanet/blob/main/docs/tutorials/transit.py)

[code]
**Setup:**
 - exoplanet==0.4.0
 - macOS 1

[2020-10-16 17:48] dfm commented on #115
You won't be able to run that as a script on macOS with Python 3.8 because of issues with how multiprocessing now works. You'll need to wrap your script in a `if __name__ == "__main__"` and then make sure that multiprocessing is using `fork` instead of `spawn` or `forkserver`.

Unfortunately there's not much to do from within exoplanet except add a page to the docs so I'm going to relabel this as

[2020-10-19 17:37] emilygilbert opened #116 "Unable to install exoplanet 0.4"
When trying to install exoplanet from source following the instructions for installing from source with `python -m pip install -e .` I get the following error:

    In file included from src/exoplanet/theano_ops/lib/include/exoplanet/starry/ellip.h:21:
    src/exoplanet/theano_ops/lib/include/exoplanet/starry/utils.h:13:10: fatal error: 'Eigen/Core' file not found
    #include <Eigen/Core>

[2020-10-19 18:08] dfm commented on #116
The git clone needs a `--recursive` flag or you can run

[code]

to download the Eigen submodule.

Pull requests welcome to fix the docs :D

[2020-10-19 19:15] shbhuk commented on #79
Just an FYI - this does not work when there are multiple log-likelihood functions, as in multiple instruments or a phot + RV joint fit. In which case, one needs to follow this help link-
https://discourse.pymc.io/t/calculating-waic-for-models-with-multiple-likelihood-functions/4834/7
https://github.com/OriolAbril/calaix_de_sastre/blob/master/arviz_ic_multiple_observations/exp_vs_power_pymc_discour

[2020-10-20 08:52] LionelGarcia commented on #115
I get this error as well on Linux when simply trying to pickle the model in [docs/tutorials/transit.py](https://github.com/exoplanet-dev/exoplanet/blob/main/docs/tutorials/transit.py). Like:

[code]
`TypeError: cannot pickle 'exoplanet.theano_ops.driver.LimbDark' object`

It works with `exoplanet 0.3.2` but not `0.4.0`

[2020-10-20 10:35] dfm commented on #115
OK - I'll take a look into this because it would be good to be able to pickle these models, but I don't understand why I haven't run into a sampling issue before if you're still getting it. I use parallel sampling on macos and ubuntu every day with v0.4 and the tutorial is automatically run on CI for every push.

[2020-10-20 11:25] LionelGarcia commented on #115
This is puzzling indeed. I will try to investigate as well what could be wrong in my process.

_For reference:_ Before running into the last point I tried using `if __name__ == "__main__"` with `fork` (trying both `mp_ctx` and `multiprocessing.set_start_method` as mentioned in https://github.com/pymc-devs/pymc3/issues/3844#issuecomment-674091556) with Python 3.8.5 and Python 3.6.5 on macOS, leadin

[2020-10-20 11:29] #116 closed

[2020-10-20 11:33] dfm opened #121 "Add documentation about multiprocessing gotchas (e.g. fork vs forkserver)"
Related issues:

- #111
- #115

[2020-10-20 11:33] #113 closed

[2020-10-20 11:37] dfm commented on #115
This will all have something to do with running in a Jupyter environment vs a script. These tutorials are designed to be run using [jupytext](https://github.com/mwouts/jupytext), not directly as a script. #120 fixes the issue with pickling and #121 will track documenting best practices for running parallel sampling as a script (this is where the `__name__` part comes in!).

[2020-10-20 11:42] #115 closed

[2020-10-21 16:36] shbhuk commented on #82
@dfm - What is the latest version of pymc3 that you've tested for exoplanet?
I believe one of the newer ones >3.8 combines the posterior sampling step with the inference part.
See - https://nbviewer.jupyter.org/github/OriolAbril/Exploratory-Analysis-of-Bayesian-Models/blob/multi_obs_ic/content/Section_04/Multiple_likelihoods.ipynb

`    idata = pm.sample(draws=2000, random_seed=1375, return_infere

[2020-10-21 16:53] dfm commented on #82
Exoplanet is tested with 3.8, 3.9 and GitHub master. I'm not sure what you mean about combining posterior sampling and inference (I consider those to mean the same thing), but you can certainly use any pymc3 features you want to!

[2020-10-27 20:44] ethankruse opened #122 "SimpleLimbDark doesn't vary u1"
Hey Dan,

Now that 0.4 is out, I'm trying out your suggestion from our [conversation](https://github.com/rodluger/starry/issues/249#issuecomment-694952462) in starry. It looks like SimpleLimbDark is fast and exactly what I want, but your code example isn't working. `set_u` doesn't seem to care what you feed in as `u1`, the output is always the same. `u2` does have an effect though. Was your exampl

[2020-10-27 20:57] dfm commented on #122
Good catch! I think that what you want is `set_u([1, u1, u2])` for now, but let me do a few tests. It's related to the definitions from the limbdark paper.

[2020-10-28 01:56] dfm commented on #122
I can confirm that this works. [In the main code base](https://github.com/exoplanet-dev/exoplanet/blob/main/src/exoplanet/light_curves/limb_dark.py#L28), it actually is defined as `[-1, u1, u2]` but I think that since it gets normalized the actual value of the first entry does not enter (it would only matter for the baseline in the more general starry case, I think). It would be good to update thi

[2020-10-28 05:12] ericagol commented on #122
Yes, that looks correct:  just after equation (2) in the paper, it states that `u_0 = -1`.
<img width="442" alt="limbdark_definitions" src="https://user-images.githubusercontent.com/243664/97395132-76fc9c80-18a1-11eb-9409-5c3dd3fc5e94.png">

[2020-10-28 14:58] shbhuk opened #123 "Further discussion on choice of priors for GP hyperparameters"
**Is your feature request related to a problem? Please describe.**
Hi, could you discuss the different priors you use for the GP hyperparameters, be it the SHO kernel for the transit case studies, or the rotation kernel in the stellar variability case.  They tend to differ in terms of the functional form as well as starting value. It would be useful to have some discussion on this.

[2020-11-10 23:01] aditya-sengupta opened #124 "LimbDark object can't be pickled, stops sampling in the transit example"
**Describe the bug**
When trying to run `exoplanet/docs/tutorials/transit.py`, execution is stopped at the sampling stage on line 155: the stated error is `TypeError: cannot pickle 'exoplanet.theano_ops.driver.LimbDark' object`.

**To Reproduce**
`cd` into `docs/tutorials` and run `python transit.py`: output is reproduced below.
[code]
**Expected behavior**
The same output as in the docs at https:

[2020-11-11 00:16] dfm commented on #124
Thanks!

This is a duplicate of #115 and it was fixed in #120. This will be included in the next release if you don't want to build from source.

[2020-11-13 22:02] LucieScharre commented on #124
Hello,
I'm a student trying to use this package for a project. I have not used github before and am experiencing the same issue! I have tried to implement the fix #120, but am just getting new error messages. Should the approach work of just replacing exoplanet directory (installed using pip) with the new version I've downloaded from here?

I'm getting this error message then:
ImportError: cannot

[2020-11-13 22:07] aditya-sengupta commented on #124
Looks like it's still running the pip installed version; try the following (in some directory you want to use for this)

`
git clone https://github.com/exoplanet-dev/exoplanet
cd exoplanet
git submodule update --init --recursive
python setup.py develop
`

[2020-11-13 23:12] dfm commented on #124
I'll also plan on making a pip release early next week so that it'll be easier to use then. Thanks for your patience!!

[2020-11-14 11:56] LucieScharre commented on #124
That would be great as I still can't get it to work, just getting new error messages... Thank both of you so much!

[2020-11-14 12:48] LucieScharre commented on #124
Are there any obvious fixes for [Errno 32] Broken pipe?

[2020-11-14 18:48] aditya-sengupta commented on #124
Have `pm.sample` use only one core

On Sat, Nov 14, 2020 at 4:48 AM LucieScharre <notifications@github.com>
wrote:

[2020-11-15 22:27] dfm commented on #124
The package on PyPI has been updated so you should be able to get the new version using

[code]

For other errors (like a broken pipe) can you open a new issue with an example that demonstrates the problem? Then it'll be easier for me to look into it!

[2020-11-16 12:03] LucieScharre commented on #124
It now works with the new version! Thank you for fixing it so quickly!

[2020-11-16 12:43] LucieScharre commented on #124
Do you by any chance have examples of how to fit just one planet to the data? No worries if not! Just struggling a little with a working translation to only one planet

[2020-11-16 12:47] dfm commented on #124
Take a look at the examples on the case studies page to see if those are enough to get you started: https://gallery.exoplanet.codes/en/latest/

[2020-11-21 00:22] jradavenport opened #126 "gp.predict eating harddrive"
When following the excellent case study for [modeling starspot variability](https://docs.exoplanet.codes/en/v0.2.1/tutorials/stellar-variability/), modeling GJ1243 from Kepler, the `xo.optimize` works basically as expected (yay)!

I tried to then generate a prediction (mean and variance) at a slightly higher time resolution, 38k datapoints total... this caused exoplanet to eat the remaining ~50GB

[2020-11-21 01:22] dfm commented on #126
This isn't really a bug! Computing the variance or covariance scales poorly with the number of data points and the number of points where you're predicting. I'd recommend 2 things:

1. Only predict the mean if at all possible. If you can't, loop through the times where you want to predict in chunks and just predict a few at a time.
2. Switch to using [celerite2](https://celerite2.readthedocs.io/en

[2020-11-30 06:09] bmorris3 opened #127 "Simple phase curve parameterizations"
### Background

I'm working on simultaneously fitting optical transits, eclipses and reflected light phase curves of exoplanets via `exoplanet`, and `exoplanet` has been working beautifully (so thanks again!).  I've written up a three parameterizations of the reflected light phase curves of exoplanets and I'm wondering if it'd be self-consistent to contribute those to `exoplanet`. I saw you recomm

[2020-11-30 16:37] dfm commented on #127
Thanks for this Brett! I think that either approach would be just fine (I'm not scared of dependency management :D) so it's totally up to you. I also agree that a set of nice descriptive models for reflected light would be useful and high-impact.

All that to say: I'd be happy to review a pull request or point folks in the direction of a package that you develop!

[2020-12-14 14:25] #124 closed

[2020-12-14 14:25] #126 closed

[2020-12-14 14:26] dfm commented on #103
@mason-macdougall: any updates here?

[2020-12-14 17:08] elnjensen opened #129 "Cannot run on Mac OS 10.15 without suppressing compiler errors"
When running [the transit-fitting demo](https://docs.exoplanet.codes/en/stable/tutorials/transit/) on OS X, I cannot compute a LimbDarkLightCurve model without errors unless I explicitly pass a flag to theano to suppress compiler warnings.

The final error looks like this:
[code]

and is preceded by several instances of errors like this:
[code]

This appears to be the same issue reported in [this

[2020-12-14 18:24] dfm commented on #129
Hi Eric, Thanks! The correct solution is to set that flag and the results will be fine.

It's not really an exoplanet issue - it'll happen with *any* Theano code on recent(ish) versions of macOS! But, if you run within a PyMC3 context, this won't happen because PyMC3 automatically adds this flag and there's [an open issue to fix it directly within Theano](https://github.com/pymc-devs/Theano-PyMC/i

[2020-12-14 18:54] elnjensen commented on #129
Thank you!  I appreciate the quick response, and I'm enjoying exploring the code.

[2020-12-14 18:54] #129 closed

[2020-12-29 16:25] #103 closed

[2020-12-29 22:09] elnjensen opened #130 "Discontinuous behavior at large b when specifying both b and duration"
When using `xo.orbits.KeplerianOrbit` and specifying both duration and impact parameter b,  and then generating a limb-darkened light curve with `xo.LimbDarkLightCurve`, some combinations of parameters give eclipses as expected, but at a slightly different impact parameter will switch over to return a flat light curve without any warnings or exceptions.

**To Reproduce**
This sample code illustrat

[2020-12-29 22:13] ericagol commented on #130
Maybe an issue with starry?  @rodluger ?

[2020-12-29 22:34] dfm commented on #130
It's defined using Eq. 14 from [Winn (2010)](https://arxiv.org/abs/1001.2010). I don't think it'll have anything to do with starry! I expect that there will be inconsistencies for large radius ratios but I'll take a closer look tomorrow.

[2020-12-29 22:47] elnjensen commented on #130
Thanks for the quick attention to this!  FYI, it can fail for small radius ratios too if you change the duration:
![exoplanet_b_duration2](https://user-images.githubusercontent.com/2545845/103318898-d8ee9500-49fd-11eb-86ce-523bd5b67c7e.png)

[2020-12-29 23:12] dfm commented on #130
here's how it's defined btw:

![img](https://user-images.githubusercontent.com/350282/103319876-61226980-4a01-11eb-9919-3016e67c848f.png)

[2020-12-29 23:24] elnjensen commented on #130
Right, I can see that those points define a time interval that's the same across the light curves, but Equation 14 in Winn 2010 is for the total transit duration, first to fourth contact, while those points are all well after ingress / well before egress.   So I'm not sure how to square those two things.

[2020-12-29 23:39] dfm commented on #130
This is how it's calculated: https://github.com/exoplanet-dev/exoplanet/blob/d28c2a2949edd87dfaa355f0664260e591891b6a/src/exoplanet/orbits/keplerian.py#L829

There might be a bug, but I'm offline tonight so I can't check!

[2020-12-29 23:41] dfm commented on #130
It's not a bug - it's because you need to pass `ror` to the orbit as well:

[code]

[2020-12-29 23:46] dfm commented on #130
It would be good to add a warning to the code if `duration` is used when `ror` is not provided - good catch!

[2020-12-30 01:57] elnjensen commented on #130
Ah, great, thanks.  I can confirm that the example code gives sensible-looking lightcurves with that change.

[2020-12-30 15:56] elnjensen commented on #130
I'd be happy to put together a simple PR for this if that's helpful.  If so, should it be a warning or an exception?   Seems like probably `ValueError`, since the results are incorrect otherwise and so it probably shouldn't go through.

And is master the right branch, or do you have a development branch that's better for a PR?

It may be simplest for you to just implement yourself, but I'd be happ

[2020-12-30 16:42] dfm commented on #130
Thanks for the offer, Eric! Sure - why don't you open a PR to the `main` branch to raise an exception when the radius ratio is not provided? I'm also working on a major refactor of how all this parameterization stuff is handled for the next major release, but it still might be some time before that's ready so I think that it would be worth having this in the meantime!

[2020-12-31 02:45] dfm opened #131 "Move ReboundOrbit to rebound-pymc3"
In the name of making things modular, this should probably live in the rebound-pymc3 project and that should depend on exoplanet rather than the other way around.

[2021-01-04 16:05] dfm commented on #54
Closed by #133

[2021-01-04 16:05] #54 closed

[2021-01-04 17:02] dfm opened #134 "Insert correct REBOUND citations"
We can either use `sim.cite()` or just enter it manually.

Similarly, it looks like the REBOUNDx citation is never used unless I'm missing something. That should be included as well, when the `ReboundOrbit` is used.

/cc @arjunsavel

[2021-01-04 17:16] dfm opened #135 "Make a new release with relativity support"
Once https://github.com/dtamayo/reboundx/pull/51 is merged and released.

[2021-01-04 17:27] arjunsavel commented on #134
@dfm I can add these in! And you're right, the REBOUNDx citation isn't currently used.

[2021-01-19 04:40] eas342 opened #137 "Eigen/Core file not found"
**Describe the bug**
Get a fatal error: Eigen/Core file not found when installing the test dependencies.

**To Reproduce**
[code]

**Expected behavior**
Expected to install dependencies needed for tests. I also ran `python -m pip install -e .`, which says all requirements are satisfied and get the same result with `pip install .[test]`.

**Your setup (please complete the following information):**

[2021-01-19 10:14] dfm commented on #137
You need to git clone with the recursive flag or update the submodule manually as described here: https://docs.exoplanet.codes/en/stable/user/install/#from-source

[2021-01-19 14:55] eas342 commented on #137
Ah thanks! I did
[code]
and it no longer has errors.

[2021-01-19 14:55] #137 closed

[2021-01-26 20:15] dfm commented on #135
This is now released. @arjunsavel: v0.4.4 now has reboundx support. This possibly should have been the 0.5 release, but I've got some bigger changes that I want to make before then.

[2021-01-26 20:15] #135 closed

[2021-01-26 21:11] ericagol commented on #135
Excellent!  Does that include jacobians?

[2021-01-26 21:15] dfm commented on #135
@ericagol: it sure does!

[2021-01-26 21:15] dfm commented on #135
ref: https://github.com/exoplanet-dev/exoplanet/pull/133

[2021-01-26 21:40] ericagol commented on #135
@dfm @arjunsavel  Do you have a notebook you could loan me which shows how to use this?

I'm interested in simply computing derivatives and comparing with NbodyGradient - nothing fancy.

[2021-01-26 21:42] dfm commented on #135
@ericagol: Can you open a new issue describing what you want and I'm sure that one of us can put something together.

[2021-01-26 21:48] ericagol opened #138 "Notebook showing an example of using reboundx in exoplanet"
**Is your feature request related to a problem? Please describe.**
I am interested in computing the jacobian of the state of a system
with respect to the initial conditions using reboundx.  For example,
I would like to integrate the outer four giant planets of the solar
system.  I'm planning to compare this with the NbodyGradient as
a cross-comparison of both.

**Describe the solution you'd like**

[2021-01-27 00:12] dfm commented on #138
Thanks Eric. Do you mainly want simple N-body integrations (as offered by REBOUND itself) or are [the extra forces provided by REBOUNDx](https://reboundx.readthedocs.io/en/latest/) what you're looking for?

Pinging @arjunsavel to keep him in the loop.

[2021-01-27 01:11] ericagol commented on #138
Primarily the former (so maybe there's already an example?), but I'm also interested in the extra forces for, say, integrating trappist-1 with tides.

[2021-01-27 01:20] dfm commented on #138
No - there isn't a good example yet so this is great to have here!

[2021-01-27 20:54] arjunsavel commented on #138
The extra forces in REBOUNDx (e.g. tides, radiation forces) aren't currently accessible via the exoplanet interface, I believe. I don't think it'd be too difficult to change this, though!

[2021-01-28 17:26] #134 closed

[2021-02-15 23:43] shbhuk opened #142 "Issue with installation using conda-forge in RHEL7"
I'm trying to install exoplanet in a virtual environment in Python 3.8, using conda-forge as given in the tutorial. After installation is complete, I get an error while trying to import exoplanet.

**To Reproduce**
[code]

[code]

 - Version of exoplanet: 0.4.4
 - Operating system: RHEL 7
 - Python version & installation method (pip, conda, etc.): Python 3.8.3, Installed using - conda-forge

Pleas

[2021-02-16 00:10] dfm commented on #142
You'll probably need to *downgrade* Theano to `theano==1.0.5` since recent versions of Theano are *extremely* non-backwards compatible. What version of PyMC3 and Theano do you have installed?

[2021-02-16 01:12] shbhuk commented on #142
I'm using the following -

PyMC3 = 3.9.3
Theano = 1.0.5

[2021-02-16 01:16] dfm commented on #142
How did you find those versions - I don't believe you :D?

[2021-02-16 01:43] shbhuk commented on #142
Well, the conda-forge install installs those version..  I tried deleting and reactivating the environment a couple times, and was having some issues with the cached tarballs.. Things seem to be working now, albeit with the versions defined above :P

[2021-02-16 01:43] #142 closed

[2021-02-16 03:17] dfm commented on #142
OK - great! Yeah those versions should work and some more recent ones should too, but the very latest PyMC and Theano might have some issues.

[2021-02-18 12:56] bmorris3 commented on #70
Hi @dfm,

I'm working on a model which uses `exoplanet` to compute a transit+phase curve+eclipse model. I have a derived parameter (an eclipse depth) produced in my phase curve model which is wrapped in `pm.Deterministic`, and I would like to enforce a prior on this variable (eclipse depth), in order to be consistent with a value in the literature. I was thinking the easiest way to do this would b

[2021-02-18 14:23] dfm commented on #70
@bmorris3: There shouldn't be any issue with that syntax, but a simpler one might be:

[code]

Which should work equivalently and I find somewhat more readable. (You can think of this "prior" as, instead, "data" from a previous experiment.)

[2021-02-18 14:49] bmorris3 commented on #70
Thanks for this, that's definitely more readable!

[2021-02-22 22:07] rodluger commented on #122
@dfm @ethankruse Is this method now working? Do you need my help with anything?

[2021-02-22 22:32] ethankruse commented on #122
Yep, my tests are passing and it seems to be working once I add in the -1 as the first parameter.

[2021-02-22 22:32] #122 closed

[2021-02-23 22:27] ceyrox opened #143 "Theano Version Issues Between Exoplanet 0.4.4 and Celerite2"
**Describe the bug**
The exoplanet software, when conda installed, automatically adds the package theano-pymc, which seems to conflict with my installed version of theano. When I have, without exoplanet, theano version 1.0.5 installed on my computer, the command

`from celerite2.theano import  terms`

executes normally. After a conda installation of exoplanet version 0.4.4, theano-pymc version 1.1

[2021-02-24 11:27] Alina6618 opened #144 "Problems with Installing exoplanet in Window System"
I followed the instruction in _Notes about running on Windows_ at _https://docs.exoplanet.codes/en/stable/user/install/_.
The first three lines run well, but the last one: **python -m pip install -e .[test]**  produces this on my computer:
**ERROR: File "setup.py" not found. Directory cannot be installed in editable mode: D:\Python\Jupyter Notebook**,
and I can't find out what's wrong.

[2021-02-24 13:12] dfm commented on #144
You'll need to run that in the root directory of a checked out version of the the github repo (which it doesn't look like you are). I see that the docs are not very clear about that so I'll try to improve the wording, but also to run the tests, I think you'll need a checked out copy.

[2021-02-24 13:15] dfm commented on #143
Thanks for the detailed report! The updates to theano-pymc have been hard to keep up with and I've definitely fallen behind. I'll try to push another compatible version in the next week or so, but until then, one option would be to pin the versions of both pymc3 and theano-pymc to an earlier version (probably doesn't need to be too old, but I'm not 100% sure which). Let me know if you get somethin

[2021-02-24 14:16] rodluger opened #145 "Error in radial velocity for `t~p`, `omega=0.5*pi`"
**Describe the bug**
The radial velocity returned by `exoplanet.orbits.KeplerianOrbit().get_radial_velocity(t)` jumps discontinuously when `t` is very close to `t0 + period`.

A few things I've observed:

- This seems to happen only when the argument of pericenter `omega=0.5*pi` (exactly; changing this by as little as `1e-15` fixes the error).
- Setting `ecc=None` also fixes the issue. However, se

[2021-02-24 15:41] dfm commented on #145
Thanks - all this info is super useful to track down the issue. I bet it has something to do with numerical issues the mod implementation in the kepler solver. I'll get it sorted!

[2021-02-24 17:20] ericagol commented on #145
What is the behavior if you do not set the eccentricity?  The Kepler solver shouldn't be needed for `e=0`, and it looks like the code should work fine for `ecc=None`:    https://github.com/exoplanet-dev/exoplanet/blob/55d2252c71191044613fabb9c8bd3062aca3bc1b/src/exoplanet/orbits/keplerian.py#L188-L191

[2021-02-24 17:21] rodluger commented on #145
Yep, it works fine with `ecc=None`.

[2021-02-25 17:50] ceyrox commented on #143
Thanks for the expedient response. Yeah, I'll give it a shot with older versions too.

[2021-03-01 13:52] Alina6618 commented on #144
Thank you very much for your help! I'm pretty new to github so I don't know much about it. I worked with jupyter notebooks and I ran the line in the Anaconda Prompt. The first three lines ran well so I thought it was the right place... Would you like to tell me how to get a checked out version of the repo, and, if I still wish to run the test in the Anaconda Prompt, is there any possible way to ma

[2021-03-01 14:29] dfm commented on #144
Ah - I misread your previous comment - sorry! You probably don't actually want to run the tests, you would just like to *use* exoplanet on Windows right? Try replacing that last line with `python -m pip install exoplanet` (instead of `python -m pip install -e .[test]`) and that should do the trick.

[2021-03-01 17:18] Alina6618 commented on #144
Sorry for the confusion and thank you for your help! Yes, I just want to use _exoplanet_ on my laptop with Windows system. I wish to use it to analyze TESS data of an exoplanet. After installing _exoplanet_ I noticed there is a note about running on Windows so I also ran those lines. However, the last line didn't go well, as well as the next two lines in the Testing section (all were run in Anacon

[2021-03-01 17:27] dfm commented on #144
That issue is one that I've hit before (https://github.com/exoplanet-dev/exoplanet/issues/92) but I never found a solution. This is caused by some lower level compiler issue that I've never been able to reproduce and diagnose locally. Can you give me more details about your system setup: e.g. which version of windows, how you installed anaconda, etc. and I'll see what I can do!

[2021-03-01 17:59] Alina6618 commented on #144
Of course! I'm using Windows 10 (64-bit), Anaconda3 2020.07. I initially installed Anaconda in E drive (E:), but later I found there was another Anaconda file in my Jupyter Notebook file in D:. I think this may be because I located the base of Jupyter Notebook there?

Please let me know anytime you need more information!

[2021-03-01 18:12] Alina6618 commented on #144
By the way, if it is due to the Windows system, will that help if I borrow a Mac with iOS and run the codes?

[2021-03-02 17:13] dfm commented on #144
@Alina6618: This is definitely a Windows-specific issue, but it's one that I'd like to figure out at some point! In the meantime, using a Mac might be easier, but I hope to look into this more soon.

[2021-03-02 20:09] christinahedges opened #147 "`SimpleTransitOrbit` transit shape is not consistent with `KeplerianOrbit` transit shape"
**Describe the bug**
The `SimpleTransitOrbit` class I believe can make transit shapes, without enforcing Kepler's laws. When using it, it wasn't behaving as expected. When I set `period`, `t0`, `b` and `duration` to the same values, the transit shapes are very different.

**To Reproduce**
Please see https://gist.github.com/christinahedges/ea3ad229e82fded715794be65124695f

**Expected behavior**
I b

[2021-03-02 20:13] dfm commented on #147
It looks like this is the issue:

https://github.com/exoplanet-dev/exoplanet/blob/16cc4ef38258573e6a7f3fb4017c12f2fc19cbe7/src/exoplanet/orbits/simple.py#L64

We should refactor the `SimpleTransitOrbit` to take `r_planet` as a parameter and re-define the duration properly as the beginning of ingress to end of egress.

[2021-03-03 11:04] #147 closed

[2021-03-04 17:45] lili-alderson commented on #143
I have also been having a similar issue but with `import pymc3` (I'm Hannah Wakeford's PhD student from the twitter conversation)

I didn't have much luck with running earlier versions of pymc3 and theano-pymc (although perhaps I didn't hit the right combination), and have also seen the same error but with

`AttributeError: module 'theano' has no attribute 'gof'`, similar to https://github.com/The

[2021-03-04 17:54] dfm commented on #143
@lili-alderson: This isn't quite the same issue, but the root issue is the same. This normally results from multiple versions of theano, pymc3, and theano-pymc installed. The easiest approach would be to create a fresh environment (you might be able to get away with uninstalling `theano`, `theano-pymc` and `pymc3`, but that can be tricky) and then just run:

[code]

That combination of versions ha

[2021-03-04 21:39] icweaver opened #149 "Inconsistent values returned for semi-major axis in KeplerianOrbit"
**Describe the bug**
`KeplerianOrbit` seems to return a / r_star instead of a when passed the stellar density instead of m_star and r_star separately.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Your setup (please complete the following information):**
 - Version of exoplanet: 0.3.3 | pyh9f0ad1d_0 | conda-forge
 - Operating system: Linux Mint 20.1 x86_64
 - Python version & installat

[2021-03-04 22:11] dfm commented on #149
This is the expected behavior because the default R_star is 1.0. How would you want it to set the units if R_star and M_star are not provided?

[2021-03-04 22:40] icweaver commented on #149
Hi Dan, thanks for getting back to me so quickly. I didn't realize that I was implicitly keeping r_star fixed to the value in the first example when trying testing this out. I see now that defaulting to 1 solar radii by default is explicitly outlined in the documentation, sorry for the noise!

[2021-03-04 22:42] #149 closed

[2021-03-11 16:42] LucaNap commented on #143
Of course some other issues pop up because of the older version of pymc we are forced to use (for example: pm.summary is not working anymore because of [this](https://github.com/pymc-devs/pymc3/issues/3805#issue-566003985))

[2021-03-13 16:54] Alina6618 commented on #144
Hi, Dan! I appreciate your warm help so much! Thank you for your prompt reply all the time. Looking forward to your new progress!

[2021-03-15 11:44] #145 closed

[2021-03-15 20:21] LucaNap opened #153 "RV-multi tutorial is not working anymore (Jupyter notebook)"
I noticed that the [RV multi tutorial](https://gallery.exoplanet.codes/en/latest/tutorials/rv-multi/) is not working anymore, even in Jupyter notebook.
The following error shows up after pmx.sample has been called:

AttributeError: Can't get attribute 'rv_model' on <module '__main__' (built-in)>

I noticed that using the argument _pickle_backend='dill'_ I can get the sample running but even so I a

[2021-03-15 20:48] dfm commented on #153
This tutorial runs just fine on Mac and Ubuntu (which are the two platforms that I develop on) so this is probably something to do with Windows and/or your specific setup. You could try changing the multiprocessing context parameter (perhaps fork vs forkserver) but I can't give too many tips since I don't often use Windows.

[2021-03-15 20:53] dfm commented on #153
This is how I set it on Mac: https://github.com/exoplanet-dev/case-studies/blob/1e2b78e75b6617ad97a9e8a86cdf088d712c1f27/docs/tutorials/notebook_setup.py#L24

but you should also be able to use the `mp_ctx="fork"` parameter for `sample` directly.

[2021-03-15 22:39] LucaNap commented on #153
Thank you! Unfortunately _mp_ctx='fork'_  or forkserver is not working either..

ValueError: cannot find context for 'fork'

https://github.com/lyft/l5kit/issues/129 maybe fork is only available on macos?

[2021-03-16 11:41] dfm commented on #153
Yes - that looks right: https://docs.python.org/3/library/multiprocessing.html#contexts-and-start-methods

When you say this doesn't work "anymore" when did you have it working before? This behavior shouldn't have changed in the v0.4 stream. I'll try to give this a shot on windows at some point to see if I can figure out a workaround.

[2021-03-16 14:57] LucaNap commented on #153
Sorry @dfm , I was able to get the tutorial working in Windows10 by using the argument _pickle_backend='dill'_, contrary to what I have said in the opening post! Apparently the process did finish, I just made a mistake trying to call the results. But I guess this post will be useful to Windows user who have had the same issue..

[2021-03-16 16:40] dfm commented on #153
Great news! Glad you got it working.

Again it *does* work: those tutorials are automatically generated by *executing the code*. So while there might be issues when you try to run it, the conclusion is not that it "doesn't work", but instead that there's an issue with your setup :D. In this case you'll probably need to update corner.

[2021-03-18 14:45] #153 closed

[2021-03-26 13:59] yanhong-zhao-ef commented on #121
please do - I was trying to have pymc3 models running in python scripts and there was a lot of headache to get it right (I still don't think I have got it right...)

[2021-03-26 14:09] dfm commented on #121
@yanhong-zhao-ef: Is this related to exoplanet specifically or PyMC3 more generally?

[2021-03-26 14:42] yanhong-zhao-ef commented on #121
oh sorry I thought this is still an issue within pymc3 as I followed the pymc3 issue trail here! I meant pymc3 more generally

[2021-03-26 15:33] dfm commented on #121
No worries - it might make sense to post an issue on the PyMC3 GitHub or discourse pages in that case.

[2021-03-26 20:49] arjunsavel opened #155 "Theano slowdown issue?"
**Describe the bug**

**edit: updating to the newest exoplanet release removes the theano info logging, but performance of `orbit.get_relative_velocity` still isn't always near the ~200ms level.**

A clear and concise description of what the bug is.
I'm running `orbit.get_relative_velocity` numerous times as part of a sampling routine, and I occasionally find that `theano.gof.compilelock` logs som

[2021-03-27 11:29] rodluger commented on #155
Are you running the line

vel = np.array(theano.function([], orbit.get_relative_velocity(t))())

multiple times? If so, theano has to recompile the function every time,
which is a huge speed hit (even with caching). You should do

f = theano.function(inputs, orbit.get_relative_velocity(...))

to compile the function a single time, then call the compiled function as
many times as you need on differ

[2021-03-27 12:28] dfm commented on #155
Rodrigo's comment is exactly what I would suggest!

Can you say some more about your sampling routine? Are you (a) using PyMC3, or are you (b) using exoplanet to define a model and then calling it directly from another Python library?

- If the former, you shouldn't ever need to call `theano.function` directly - can you say more about why you're doing that?
- If the latter, then things will take a

[2021-03-27 15:41] arjunsavel commented on #155
Fantastic! Thank you both — this is exactly the type of problem I thought I was running into.

I was running the line containing `theano.function` as I defined a model at every step in an `emcee` sampling routine, which I now see is not the way to go about this. Thanks again!

[2021-03-27 15:41] #155 closed

[2021-04-01 22:38] ericagol opened #156 "Alexander Hamiltonian Monte Carlo"
**Is your feature request related to a problem? Please describe.**
One problem with Hamiltonian Monte Carlo is that it has absolutely no relation to the musical.

**Describe the solution you'd like**
An implementation of the more advanced Alexander Hamiltonian Monte Carlo would solve this (h/t Trevor Branch), thereby making exoplanet more efficient and relevant:

http://sigtbd.csail.mit.edu/pubs/2

[2021-04-06 02:56] elnjensen opened #157 "Missing citation and/or wrong tag in get_citations_for_model()"
The output of `get_citations_for_model()` includes the text "This research made use of \textsf{exoplanet} \citep{exoplanet} and its dependencies" but the accompanying BibTeX code lists no citation with the label "exoplanet".  I'm guessing this is supposed to be "exoplanet:exoplanet"?   If so, then that tag could also be removed from the parenthetical list of dependencies (and if not, then there's

[2021-04-06 12:46] dfm commented on #157
Thanks for catching this! I suggest a fix over in #158

[2021-04-06 13:01] rodluger commented on #157
It would also be useful to have it cite the exoplanet paper as well...

![bean](https://user-images.githubusercontent.com/9323819/113714626-98667d80-96b6-11eb-8241-331a3e598df5.gif)

[2021-04-06 14:08] dfm commented on #157
GET OUTTA HERE @rodluger!!

[2021-04-06 16:47] #157 closed

[2021-04-21 14:54] #156 closed

[2021-04-21 15:10] dfm commented on #130
Fixed in #161

[2021-04-21 15:18] dfm opened #162 "Remove dependency on Eigen"
The only thing that really actually depends on Eigen is the interpolation algorithm which is currently undocumented. It should be easy enough to implement this directly in Theano. This would also remove the submodule :100:

[2021-04-21 15:19] dfm opened #163 "Switch to using exoplanet-core for the compiled ops"
That way exoplanet would become a pure-Python package.

[2021-04-21 15:21] dfm opened #164 "Remove duplicated code from pymc3_ext"
We should remove some of the old dangling submodules that were sticking around for backwards compatibility.

[2021-04-21 15:25] dfm commented on #162
The scipy implementation is actually pure-Python. We should be able to copy that: https://github.com/scipy/scipy/blob/v1.6.2/scipy/interpolate/interpolate.py#L2338-L2564

[2021-04-21 15:38] #130 closed

[2021-04-21 19:55] #164 closed

[2021-04-22 11:47] dfm opened #168 "Update developer docs"
Implementing #163 will make the developer docs out of date. Don't forget to fix that!

[2021-04-22 16:55] dfm commented on #131
Closed by #166

[2021-04-22 16:55] #131 closed

[2021-04-22 20:28] #162 closed

[2021-04-22 20:28] #163 closed

[2021-04-22 23:56] #168 closed

[2021-04-23 16:22] dfm opened #174 "Writing a JOSS paper"
I've decided to write and submit a [JOSS](https://joss.readthedocs.io) paper for `exoplanet` since the AAS Journals paper that I had been preparing was really taking too long. I'm hoping to write that up some day, but for now I think it's worth having a JOSS paper as a reference in the meantime. I've put together a first rough draft of the manuscript and I think that everything else is pretty much

[2021-04-23 17:22] mrtommyb commented on #174
Hi @dfm, I'm happy to be involved. I've taken a look at the draft. Obviously it's very barebones (following JOSS format), but I think you might want to be a bit more specific in places.
Obviously `exoplanet` has general applications to time series data but the primary purpose is to learn measure the physical properties of exoplanets, so I think that you might want to state that in the Summary and/

[2021-04-23 17:26] ericagol commented on #174
Looking over list of comparison packages, here are a few others which I have seen get some use in recent literature (these may be 'trending'):

http://www.transits.hu

https://github.com/captain-exoplanet/misttborn

https://github.com/3fon3fonov/exostriker

https://github.com/oscaribv/pyaneti

https://github.com/hpparvi/PyTransit

[2021-04-23 18:29] dfm commented on #174
@mrtommyb: good suggestions! I've added a little bit more about the specifics to the manuscript.

@ericagol: Thanks! I've added a few more and a disclaimer that the list is not comprehensive :D

[2021-04-23 18:35] jiayindong commented on #174
[code]

[2021-04-23 20:00] tagordon commented on #174
[code]

[2021-04-23 20:12] emilygilbert commented on #174
I'd love to be included, thanks! :D

name: Emily A. Gilbert
orcid: 0000-0002-0388-8004
affiliation: Department of Astronomy and Astrophysics, University of
Chicago, 5640 S. Ellis Ave, Chicago, IL 60637, USA

On Fri, Apr 23, 2021 at 4:00 PM Tyler Gordon ***@***.***>
wrote:

[2021-04-23 20:25] iancze commented on #174
I'd love to be involved, thanks!

[code]

[2021-04-23 20:32] arjunsavel commented on #174
Hi @dfm — thanks so much for including me! I've made a PR to the JOSS branch with some minor edits (#175).

[code]

[2021-04-23 21:49] lgbouma commented on #174
Hi Dan, happy to be involved, and thank you for developing this awesome tool.

[code]

[2021-04-24 01:58] danhey commented on #174
Hey Dan, thanks again :) The paper looks good!
[code]

[2021-04-25 06:14] danhey opened #176 "TypeError in LimbDarkLightCurve"
**Describe the bug**
Hey all. I've finally gotten around to updating my version of exoplanet and am playing around with a few of the new case studies. I've been running into a strange TypeError:
`TypeError: Join cannot handle arguments of dimension 0. For joining scalar values, see @stack`
when calling `xo.LimbDarkLightCurve`. I am not sure why this is happening -- perhaps from a new version of Py

[2021-04-25 10:53] dfm commented on #176
This is happening because you're running the case study for v0.5 (the unreleased GitHub version) but using the previous stable version. The syntax for passing limb darkening parameters has changed in the meantime. A few things that I need to do:

- Make sure that the stable docs link to the stable case studies
- make sure that the version number is clear on the case studies page
- perhaps release

[2021-04-26 03:51] danhey commented on #176
Cool, thanks Dan! I can confirm the reverted case studies are working now.

[2021-04-26 06:21] bmorris3 commented on #174
This looks great, happy to help out any way I can.
[code]

[2021-04-26 11:21] dfm commented on #176
Great - thanks! I'm going to keep working on getting the versioning better with the case studies, but close this for now.

[2021-04-26 11:21] #176 closed

[2021-04-26 12:13] rodluger commented on #174
[code]

[2021-04-26 14:25] dfm commented on #101
I'm going to close this for now. We're going to stick with quadratic models in exoplanet for now, but it would be awesome to play around with this some more in starry!

[2021-04-26 14:25] #101 closed

[2021-04-26 18:24] christinahedges commented on #174
Hey Dan I'd love to be involved here are some v.small  comments:

**Summary**
* In summary, you don’t mention that exoplanet is designed to focus on observations of exoplanets, while simultaneously mitigating stellar variability. This might show the skeptical reader one of the many reasons why exoplanet is unique at the very beginning.

**Similar Tools**
* One of your coauthors wrote the quite pop

[2021-04-26 18:53] dfm commented on #174
Thanks @christinahedges!

I'll add this - great suggestion!

I'll let @mrtommyb open a PR with a reference to ktransit if he thinks it would be suitable :D

`starry` is not a dependency - the algorithm is the same, but the implementations have actually diverged and they would generally be used for different use types of applications, so I think it's correct as written. @rodluger: what do you think

[2021-04-26 19:05] rodluger commented on #174
@christinahedges I agree with @dfm. The correct dependency is Eric Agol's modification of starry for efficient limb darkening light curves, which is mentioned under the `exoplanet-core` section.

[2021-04-26 19:43] christinahedges commented on #174
@dfm @rodluger thanks that's great, sounds good. Paper is in really great shape already!

[2021-04-27 00:06] shbhuk opened #180 "RegularGridInterpolator in exoplanet"
I'm trying to use an interpolator object in `pymc3` and found this deprecated [documentation page](https://docs.exoplanet.codes/en/v0.1.6/tutorials/interp/) detailing using `exoplanet` for `RegularGridInterpolator`. Trying to replicate the 2d interpolation example from `exoplanet` v0.1.6, I get -

`NotImplementedError: Only the C version is implemented`

**Describe the solution you'd like**
I unde

[2021-04-27 00:15] dfm commented on #180
This error means that you have compiler issues with Theano or the flags set to not `FAST_COMPILE` or something. You could check out the pure Theano version of the interpolator on the GitHub main branch:

https://github.com/exoplanet-dev/exoplanet/blob/7f7d64d743e8d6ff18878583551b57d8a6b20b04/src/exoplanet/interp.py

You could probably just extract that and use it directly.

[2021-04-27 19:19] trevordavid commented on #174
Thanks for including me @dfm! This has been a hugely useful tool for me. The paper looks great and I've sent you some really minor comments. I like the comment about stellar variability from @christinahedges too.

[code]

[2021-04-28 03:30] t-brandt commented on #174
Thanks, Dan!  One request I have is to reference 2017MNRAS.467.1702R for the Kepler solver, for example

[code]

[2021-04-28 12:39] dfm commented on #174
I've added that reference - thanks @t-brandt!

[2021-04-28 14:32] adrn commented on #174
JOSS paper looks great to me! Thanks for the invitation
[code]

[2021-04-28 15:30] dfm commented on #174
Hey team - thanks all for the comments, suggestions, and positive responses. Please feel free to send comments (up until next week: May 5) or add yourself as an author if you haven't already!

Re author order, in absence of a better method, I propose that we do: me, @rodluger, and then alphabetical after that. Please let me know (here or offline) if you you have concerns about that proposal or if

[2021-04-29 17:11] #180 closed

[2021-05-03 13:24] dfm commented on #174
`@all`: Quick final reminder that the deadline for comments is *this Wednesday May 5*. I'm planning on submitting to ArXiv and the journal at some point on Wednesday. Please let me know if that timing doesn't work for you and thanks again for all the edits and feedback so far!

[2021-05-04 15:27] #174 closed

[2021-05-05 20:44] dfm commented on #174
The pre-review thread for this paper is now open over at JOSS: https://github.com/openjournals/joss-reviews/issues/3256

And it should also be on this evening's ArXiv mailing. I'll email all the co-authors with the ArXiv info when I get it.

Thanks all!!

[2021-05-06 21:37] JosephKarpinski opened #183 "Samples projected to run over 19 hours."
multiple samples are projected to run over 19 hours:
A quick intro to PyMC3 for exoplaneteers
Radial velocity fitting

On iMac with 4 cores, runningMacOS Big Sur

Tried unsuccessfully:

import multiprocessing as mp
mp.set_start_method("fork")

Smaller tune and/or draw parameters?

<img width="1352" alt="Screen Shot 2021-05-06 at 4 52 48 PM" src="https://user-images.githubusercontent.com/37123616/1

[2021-05-06 21:40] dfm commented on #183
Did you also try `cores=1` as I suggested on Twitter?

[2021-05-06 22:09] JosephKarpinski commented on #183
Yes,

Changing codes=2 to cores=1, had no impact.
With Radial Velocity example: 27/8000 projected to run 12:49:48 plus

Sent from my iPad

[2021-05-06 22:12] JosephKarpinski commented on #183
Example:

<img width="1702" alt="Screen Shot 2021-05-06 at 6 11 29 PM" src="https://user-images.githubusercontent.com/37123616/117371858-9d297780-ae96-11eb-9bc3-88053977c8ae.png">

[2021-05-06 22:27] JosephKarpinski commented on #183
Additional documentation

pip3 install aas-timeseries
Collecting aas-timeseries
  Downloading aas_timeseries-0.1b4-py2.py3-none-any.whl (419 kB)
     |████████████████████████████████| 419 kB 2.6 MB/s
Collecting palettable
  Downloading palettable-3.3.0-py2.py3-none-any.whl (111 kB)
     |████████████████████████████████| 111 kB 4.6 MB/s
Requirement already satisfied: matplotlib in ./opt/anaconda3

[2021-05-07 02:05] JosephKarpinski commented on #183
Solved it.

Installation of Xcode and accepting the agreement fixed the problem:

![IMG_7398](https://user-images.githubusercontent.com/37123616/117387488-fef9d980-aeb6-11eb-876a-fb494ebf4682.jpg)

<img width="1357" alt="Screen Shot 2021-05-06 at 9 58 25 PM" src="https://user-images.githubusercontent.com/37123616/117387519-09b46e80-aeb7-11eb-9741-dd65f48a29ba.png">

<img width="1302" alt="RV Good"

[2021-05-07 02:05] #183 closed

[2021-05-10 16:35] JosephKarpinski opened #184 "Running Models under VSCode 1.56 - Extension host terminated unexpectedly"
**Describe the bug**
A clear and concise description of what the bug is.
Running  models under MacOS Big Sur crashes with Extension host terminated unexpectedly
**To Reproduce**
This section should include a simple, standalone code snippet that demonstrates the issue.
Run Fitting TESS data.ipynb
**Expected behavior**
A clear and concise description of what you expected to happen.
Code to work
**Yo

[2021-05-12 16:30] JosephKarpinski commented on #184
Installed VS Code Insiders.
Python Models work under VS Code Insiders.
Python Models fail with "Extension host terminated unexpectedly" under VSCode 1.56
Closing as an IDE bug.

[2021-05-12 16:30] #184 closed

[2021-05-17 10:33] dfm commented on #121
Re-upping this since @benjaminpope also ran into issues [in his JOSS review](https://github.com/openjournals/joss-reviews/issues/3285#issuecomment-842003491).

[2021-05-17 10:43] dfm opened #187 "Add a documentation page giving an intro to autodiff"
In [his JOSS review](https://github.com/openjournals/joss-reviews/issues/3285#issuecomment-842003491) @benjaminpope makes the excellent point that we have an opportunity to give more of an intro to autodiff and be a bit more explicit about why it is useful:

I propose that this goes as a new page in the docs instead of in the paper because I believe that that would have higher impact.

[2021-05-17 10:46] benjaminpope commented on #187
FYI I think your HMC lecture was very good, and I liked Gus Williams' intro to Jax: https://anguswilliams91.github.io/statistics/computing/jax/

[2021-05-17 10:58] dfm commented on #187
Awesome - thanks for that reference, @benjaminpope!

[2021-05-17 11:31] dfm opened #188 "Move astrometry tutorial to case-studies and add a shorter astrometry tutorial"
In https://github.com/openjournals/joss-reviews/issues/3285#issuecomment-842003491 @benjaminpope notes:

This separation is really the result of the development history and I agree that it could be useful to clarify this difference. Zeroth order we should move the current astrometry tutorial (which mostly focuses on detailed data modeling points) to the case studies and add a simpler tutorial to t

[2021-05-17 17:55] dfm opened #190 "Switch to testing v3 and v4 branches of PyMC3 instead of master"
ref: https://github.com/pymc-devs/aesara/discussions/415

[2021-05-20 06:16] grburgess opened #191 "JOSS Review: Installation"
The pip install proceeds just fine, but there are some issues when installing the tests which seem to be related to this:

https://github.com/lkreidberg/batman/issues/48

This is likely a transient (no pun intended) issue, and only affect the following tests:

[code]

Thus, it is not related to exoplanet and is only a heads-up.

[2021-05-20 06:17] grburgess commented on #191
https://github.com/openjournals/joss-reviews/issues/3285#

[2021-05-20 06:47] grburgess opened #192 "JOSS Review: Posterior Predictive Checks in docs"
The docs are very thorough! I think one thing that could be added that could help improve model checking in general is showing posterior predictive checks against some of the data to give an impression of over / under prediction of the data given the model and the likelihood.

For example:

https://gallery.exoplanet.codes/en/latest/tutorials/tess/

Here one could simulate future data from the cond

[2021-05-20 06:48] grburgess commented on #192
linking: https://github.com/openjournals/joss-reviews/issues/3285#

[2021-05-20 07:04] grburgess opened #193 "JOSS Review: Type hinting"
The code follows python standards as far as style, docstrings, commenting, and imports. Its nicely written and should be robust against future development. Some functions could use a little more commenting to demonstrate what is occurring in the code for a non-expert like myself as well as allowing future developers to get into the code a little more easily, but this is only in a few places, e.g.:

[2021-05-20 07:04] grburgess commented on #193
linking: https://github.com/openjournals/joss-reviews/issues/3285#

[2021-05-20 07:33] grburgess opened #194 "JOSS Review: Coverage"
It is possible I missed this, but I did not see a reporting of the test coverage in the README. I see that coverage is uploaded in the actions, but it would be nice to report it in a badge.

[2021-05-20 07:34] grburgess commented on #194
linking: https://github.com/openjournals/joss-reviews/issues/3285#

[2021-05-20 14:59] dfm commented on #191
In `https://github.com/exoplanet-dev/exoplanet/pull/186` batman is made an optional dependency for the tests, but can you confirm that you installed the `test` extras e.g.:

[code]

and that worked?

Did you find that you can't install `batman` in isolation anyways? If so, I'll submit a PR over there too :D

[2021-05-20 15:01] dfm commented on #24
Also called out by @grburgess in https://github.com/openjournals/joss-reviews/issues/3285:

[2021-05-20 15:08] grburgess commented on #191
Exactly, the error came because I did:
```pip install ".[test]"```

and then I went down a rabbit hole wondering why my OMP was not being picked up. But it turns out that there is the above issue. Thus, everything worked except ```batman``` . I guess they are using the George Clooney version at the moment.

[2021-05-20 15:56] dfm commented on #191
@grburgess: Thanks for the confirmation!

[2021-05-20 16:07] dfm commented on #193
@grburgess: If you don't mind, I propose splitting this into two issues: (1) Fill in some missing docstrings and (2) type annotations.

I would argue that type hinting is out of scope for now since the underlying libraries (numpy and theano/aesara) only have very limited support for typing at the moment (e.g. https://github.com/numpy/numpy/issues/7370 & https://github.com/pymc-devs/aesara/issues/2

[2021-05-20 16:11] grburgess commented on #193
I will split it up.

[2021-05-20 16:19] grburgess opened #195 "JOSS Review: inline comments"
The code follows python standards as far as style, docstrings, commenting, and imports. Its nicely written and should be robust against future development. Some functions could use a little more commenting to demonstrate what is occurring in the code for a non-expert like myself as well as allowing future developers to get into the code a little more easily, but this is only in a few places, e.g.:

[2021-05-20 16:19] grburgess commented on #195
linking: https://github.com/openjournals/joss-reviews/issues/3285

[2021-05-20 16:42] dfm opened #196 "Audit docs for use of "best fit parameters""
From @grburgess in https://github.com/openjournals/joss-reviews/issues/3285#issuecomment-844827340

[2021-05-20 16:43] dfm commented on #193
Great - yes, it really is awesome for code completion, etc. I have a few other projects (that don't depend on numpy) where I've loved using Python typing.

I'm going to remove the `joss` label on this issue and leave it open as a future feature request. Hopefully sooner rather than later!

[2021-05-20 17:26] ericagol commented on #24
Which portion of the model is this referring to?

[2021-05-20 17:33] dfm commented on #24
@ericagol: Whoops - that was the wrong quote! Updated.

[2021-05-20 20:53] grburgess commented on #193
I can also take a stab at putting some hinting in as PRs.

[2021-05-20 22:02] dfm commented on #193
That would be very awesome if you're keen, but no pressure!

[2021-05-22 01:46] #190 closed

[2021-05-22 02:02] #194 closed

[2021-05-25 14:03] dfm commented on #191
It looks like https://github.com/lkreidberg/batman/issues/48 was fixed and batman is now only an optional dependency for the tests so I'm going to close this. Thanks!

[2021-05-25 14:03] #191 closed

[2021-06-08 19:49] #24 closed

[2021-06-08 19:49] #187 closed

[2021-06-08 19:49] #188 closed

[2021-06-08 19:49] #192 closed

[2021-06-08 19:50] dfm commented on #196
Done!

[2021-06-08 19:50] #196 closed

[2021-06-10 16:06] #121 closed

[2021-06-10 20:03] #195 closed

[2021-06-10 20:18] dfm opened #205 "Speed up tutorial execution"
We're close to the limit of what RTDs can handle so it would be good to get some more wiggle room. I bet we can shorten the chains, etc. to speed things up a bit, although the theano compile time and conda install is the current main bottleneck.

[2021-06-16 23:28] dyahalomi opened #207 "Broken links for .ipynb files of tutorials"
**Describe the bug**
When I try to download the .ipynb files for the tutorials (such as “Data & Models” or “A quick intro to PyMC3") on the exoplanet website it takes me to a “Sorry, this page does not exist yet” page on Read the Docs.

**To Reproduce**
Press download on the .ipynb files for these tutorials. It will take you to a broken link.

**Expected behavior**
The .ipynb files to download on

[2021-06-20 16:07] #207 closed

[2021-06-21 19:16] dyahalomi opened #210 "m_planet_units variable not changing planet m_planet units in exoplanet.orbits.KeplerianOrbit call"
**Describe the bug**
I updated my exoplanet version from <=0.4.x to 0.5.1 and noticed a several order of magnitudes change to the RV signal amplitude produced using exoplanet.orbits.KeplerianOrbit. Going into my code, I was able to fix the issue by changing my units for m_planet to M_sun rather that M_earth. However, I set in my exoplanet.orbits.KeplerianOrbit function the variable m_planet_units=

[2021-06-21 19:20] dfm commented on #210
Thanks! Can you write a small block of code that executes and raises an exception if the results aren't what you expect? Then we can turn it into a unit test.

[2021-06-21 20:01] dyahalomi commented on #210
Sure, this should work -- thanks! I also added a plotting bit below the unit test, if helpful to see visually.

-----------------------

import numpy as np
import matplotlib.pyplot as plt
import exoplanet as xo
from astropy.constants import M_earth

P_earth = 365.256 #days
e_earth = 0.0167
Tper_earth= 2454115.5208333 #BJD
omega_earth = np.radians(102.9)
Omega_earth = np.radians(0.0)
inclination_ea

[2021-06-22 00:09] #210 closed

[2021-06-22 15:16] parkus opened #212 "possible inconsistency in orbital elements"
This a fantastic package! Playing around with it, I noticed the orientation of an eccentric orbit is not what I would expect based on the definition of the orbital elements in the documentation. An example:

[code]

Yielding this figure

<img width="469" alt="Screen Shot 2021-06-22 at 11 07 03 AM" src="https://user-images.githubusercontent.com/7536570/122949845-fb78bf80-d349-11eb-814f-a62c4e3d9676

[2021-06-22 15:51] dfm commented on #212
Pinging @iancze

[2021-06-22 19:10] iancze commented on #212
I think this might be an issue of what `t_0` corresponds to. If you set `t_periastron=0` in `xo.orbits.KeplerianOrbit`, do things make sense? I think the `t_0` is for a reference transit, which may not make sense for a non-transiting orbit (if that is what you're working with).

[2021-06-22 20:07] parkus commented on #212
I wondered the same thing initially, but no. That changes where the planet "starts" in its orbit, but the argument of periastron still seems to be referenced against the node where the planet is "approaching" the observer (moving from -Z to +Z). Maybe I've got my brain flipped?

[2021-06-22 20:54] iancze commented on #212
I think I might know what be going on... the orbital convention figure should probably be updated. I am assuming that you are talking about [this one](https://docs.exoplanet.codes/en/latest/_images/orbit3D.png) defined in the [data and models](https://docs.exoplanet.codes/en/latest/tutorials/data-and-models/) tutorial?

In that figure Omega is something like 210 degrees, so an Omega = 0 orbit woul

[2021-06-23 13:12] parkus commented on #212
That's correct, that definition of the elements (which, by the way, I really appreciated as I was struggling to find anything instructive in the literature) is the foundation of my question.

Yes, I think the issue could just come down to updating the docs. The figure looks to be consistent with the text on the data and models page, which states

However, the orbit I plotted seems to be inconsiste

[2021-06-23 22:43] icweaver opened #213 "Possibly unable to raise KeplerianOrbit orbital element ValueError: duration, ecc"
**Describe the bug**
Hi, amazing package and congratulations on the recent publication 🎉

I just had a quick orbital elements issue in `KeplerianOrbit` that I am running into. It was my understanding that orbits with a `duration` specified should only work for eccentric orbits:https://github.com/exoplanet-dev/exoplanet/blob/3dd400d86202537518c18998a2a7466c0541b0c8/src/exoplanet/orbits/keplerian.py

[2021-06-24 00:14] iancze commented on #212
Thanks for your help digging into these inconsistencies.

We didn't completely follow the conventions in Murray and Correia. In particular, we explicitly chose the ascending node convention (orbiting object crosses the sky plane moving away from observer) to be consistent with the visual binary field, which makes up the largest marketshare of astrometric orbital datasets and provided some of the w

[2021-06-24 13:04] parkus commented on #212
Likewise, thank you for putting in so much effort to trying to get to the bottom of this!

Right, I think the "data and models" page makes this perfectly clear, and I think the choice is well justified, so no issues there.

AHA! That is the answer to my confusion. I was definitely under the impression that the omega specified when instantiating a `KeplerianOrbit` was that of the secondary object (

[2021-06-24 13:29] iancze commented on #212
Great! I'm glad we identified the source.

Re: `Omega`, I believe this variable should be the same for both the primary and secondary, since both objects will orbit in the same sense (clockwise vs. counterclockwise) and therefore their ascending nodes will be on the "same side" of the orbit w.r.t. center of mass, and thus have the same position angle. I think `omega` and `a` are the main parameter

[2021-06-24 13:57] parkus commented on #212
Right you are!

In that case, it seems the solution is either updating the docs to be explicit that `omega` refers to the primary or updating the code such that the `omega` users supply to `KeplerianOrbit` is `omega_2`. Actually, either way it would be helpful to newbies to exoplanet orbits like me if the docs were explicit as to which `omega` `KeplerianOrbit` takes. I would argue for changing `Ke

[2021-06-24 19:10] dfm commented on #213
This is an excellent question! That error message is very misleading and it's actually only there for historical reasons, but this is all related to a larger issue that I don't love how this `KeplerianOrbit` works out its set of consistent parameters since it's all a bit hacky - there must be a better way!

So to explain what happens currently:

1. If `duration` is provided but `ecc` is not, the d

[2021-06-25 16:18] JosephKarpinski opened #214 "Case Study: rv-multi.ipynb MCMC sampler RuntimeError: Chain 0 failed"
**Describe the bug**
Case Study: rv-multi.ipynb MCMC sampler RuntimeError: Chain 0 failed

**To Reproduce**
Python 3.8.5
exoplanet.__version__ = '0.5.1'
Run case study rv-multi.ipynb
 at https://gallery.exoplanet.codes/tutorials/rv-multi/
**Expected behavior**
Sampling 2 chains for 1_000 tune and 1_000 draw iterations (2_000 + 2_000 draws total) took 51 seconds.

**Your setup (please complete the

[2021-06-25 19:39] icweaver commented on #213
Oh, that makes a lot of sense! Thanks for the historical context and for the reference to Dawson+Johnson 2012!

I totally agree that handling all of the possible user inputs to create a self-consistent Keplerian orbit can quickly get hairy. In an earlier iteration of our Julia implementation, I played around with using multiple dispatch to deal with just a handful of inputs at first, e.g. [an orbi

[2021-06-27 14:04] #213 closed

[2021-07-15 20:42] elnjensen opened #217 "Handling secular period change and/or center-of-mass acceleration?"
I'm currently modeling the data for a binary system for which we have some radial velocities taken in the late 1980s and TESS data (eclipses) taken during the past few years, so the two datasets are about 30 years apart.  In order to fit both datasets, we have to introduce a dP/dt term; it appears that the orbital period is changing slightly.  This is consistent with a modest acceleration of the c

[2021-07-16 12:33] dfm commented on #217
Interesting question! For this case, I think that probably the simplest approach that would do what you want would be to "warp" the times before calculating the model. A start would be something like this:

[code]

which generates the following figure:

![index1](https://user-images.githubusercontent.com/350282/125947405-fda8f564-6c5b-4a7b-bdd8-c0275be5d219.png)

The warping function comes from th

[2021-07-17 13:06] elnjensen commented on #217
Ah, that’s an elegant solution!  We’ll give it a try.  I had thought about trying some kind of time transformation, but transforming to the system rest frame seemed overly complicated - this is much better.

Thanks!

[2021-07-17 13:06] #217 closed

[2021-08-09 17:59] dyahalomi opened #221 "Unexpected behavior when using get_star_position() function"
**Describe the bug**
I've been trying to use the get_star_position() function to obtain the barycentric position of a star due to orbiting exoplanets. I have been unable to make the get_star_position() function to return any non-zero results.

My planets are an Earth-like and Jupiter-like planet around a Sun-like star. I was able to get non-zero results when using the same orbits and the get_plane

[2021-08-10 13:48] dfm commented on #221
The parameter is called `m_planet` not `m_p` :D

It would be good to throw an error for unrecognized parameters though!

[2021-08-10 14:33] dyahalomi commented on #221
Yeah that fixed it! Sorry for the false alarm and thanks!

[2021-08-11 11:24] #221 closed

[2021-08-11 11:25] dfm opened #222 "KeplerianOrbit should throw an error for un-recognized parameters"
See #221 for an example.

cc @dyahalomi

[2021-08-12 08:58] pgorrini opened #223 "AttributeError: module 'exoplanet' has no attribute 'gp'"
Hello,

I'm trying to use the **specgp** package (which uses **exoplanet**) and when running

[code]

I get the following error:

`AttributeError: module 'exoplanet' has no attribute 'gp'`

I'm using the latest version of **exoplanet** (0.5.2)

[2021-08-12 16:08] tagordon commented on #223
Hi @pgorrini, the latest version of exoplanet no longer includes the gp module. Specgp should be compatible with the last version of exoplanet that did include that module. Alternatively, the same functionality has been implemented in celerite2 under the “kron” branch (but I don’t believe it’s in the current release).

[2021-08-13 17:34] dfm commented on #223
Yeah - I'm sorry about the shifting infrastructure! I'm hoping that we can have similar functionality in `celerite2`, but I've been slow to get it implemented. To downgrade `exoplanet`, [it looks like](https://docs.exoplanet.codes/en/latest/changes/#id19) you'll need version `<0.4`.

[2021-08-16 10:23] pgorrini commented on #223
Ok yes, with an oldest `exoplanet`version it work well. Thanks!

[2021-08-16 10:23] #223 closed

[2021-09-09 11:44] xylm2021 opened #228 "Couldn't plot the corner plot as tutorials showed."
I just installed this package and went through the commands in the tutorial 'A quick intro to PyMC3' https://docs.exoplanet.codes/en/latest/tutorials/intro-to-pymc3/.  Every step seems running smoothly except the last step which is the corner plot. The message is '**TypeError: cannot perform reduce with flexible type**'.

Below is the specific output:

[code]

My setup is:
Version of exoplanet:  0

[2021-09-09 12:48] dfm commented on #228
@xylm2021: You'll need to update corner to version `>=2.2.0` to get support for ArviZ traces.

[2021-09-09 13:01] xylm2021 commented on #228
Thanks, it works.

[2021-09-09 13:03] #228 closed

[2021-09-13 08:30] xylm2021 opened #229 "Is it possible to derive the orbital period of TESS single transit (without any additional transit observed)?"
As we know, we have detected a large number of TESS single transit events, and knowing their actual orbital period is never easy. I am wondering whether we can use machine learning to derive it, but it seems too complex for me at this stage. So could we use this package to do the same things? Or could we combine machine learning and MCMC to do this?

Our goal is without any RV observation data, ju

[2021-09-13 19:05] dfm commented on #229
This isn't so much an `exoplanet` (the code) question, rather than a conceptual one. `exoplanet` does provide the tools that you'd need, but there are many subtleties when analyzing a single transit. These references might be useful:

- https://arxiv.org/abs/1607.08237
- https://arxiv.org/abs/1512.03722
- https://iopscience.iop.org/article/10.3847/2515-5172/aaf50c

And I'm sure there are others!

[2021-09-14 00:39] xylm2021 commented on #229
OK, thanks!

[2021-09-14 00:39] #229 closed

[2021-09-24 04:00] alexteachey opened #233 "version print and citations failing (limb darkening, fatal)"
I'm following the [transit fitting demo here.](https://gallery.exoplanet.codes/tutorials/transit/) I am running the latest version of exoplanet, and I don't see any dependency conflicts / breakdowns in the traceback. Happy to provide any information you think might be relevant. Thanks in advance for any thoughts / suggestions / fixes.

*Running into two issues. The first is less serious than the s

[2021-09-24 12:17] dfm commented on #233
Both of these error are coming from version mismatches between the tutorial that you're following and the version of exoplanet. The syntax you're using requires at least exoplanet v0.5.0, I think, and earlier versions would fail with these issues. So perhaps you need to upgrade?

[2021-09-28 01:59] alexteachey commented on #233
Thanks Dan, I thought I had been working with the latest version but apparently not. That did the trick.

[2021-09-28 01:59] #233 closed

[2021-10-04 01:54] canyon289 opened #234 "PyMC3 has been renamed PyMC"
Hi,
PyMC3 has been renamed PyMC. If this affects you and you have questions, or you want someone to direct your rage at I'm available! Do let me know how i, or any of the PyMC devs can help.

Ravin

[2022-01-03 20:17] ethankruse opened #245 "Python 3.10 support"
It's a new year, I decided to try to check out Python 3.10. Of everything I routinely use, it looks like exoplanet and spyder are the only 2 that don't have a 3.10-compatible version out yet. Looks like Dan (or someone) got it working for emcee and celerite, so I'm wondering if exoplanet is somewhere on the todo list.

I'm not in a horrible hurry to fully upgrade, so don't rush, but wanted to put

[2022-01-03 21:06] dfm commented on #245
Good questions! I wouldn't expect any roadblocks so should be quick. This week is insane to me, but I'll try to mint a new release early next week and report back here if I find any problems.

[2022-01-10 21:54] dfm commented on #245
I've released updated versions of `aesara-theano-fallback` and `exoplanet-core` with support for Python 3.10 and the beta PyMC v4: https://github.com/exoplanet-dev/exoplanet-core/releases/tag/v0.2.0rc1

Tomorrow on to `exoplanet` and `celerite2`!

[2022-01-11 00:26] #245 closed

[2022-04-05 09:53] asmasca opened #252 "Can Exoplanet/Pymc3 interact with TTVFaster?"
Hi Dan, I'm Alejandro Suárez Mascareño, we spoke at the Oxford GPRV workshop.

Yesterday I started playing around with Exoplanet/Pymc3 following your recommendation. First of all I want to say I'm impressed about how efficient it is, and how convenient lots of the functions are. Thanks for pointing me here.

I tried to move a likelihood designed for Dynesty/Emcee into Exoplanet, that includes a ca

[2022-04-05 19:15] ericagol commented on #252
Yes, they are fairly straightforward.  The most complicated part is computing the Laplace integrals.

[2022-04-06 11:01] asmasca commented on #252
Ok, that sounds like a thing I might be tempted to try.  Is the python code (ttvfaster.py) fully functional? or would it be better to continue using the C version (as called by _ttvfaster.pyx).

[2022-04-12 18:35] dgegen opened #256 "Saving the trace"
**Describe the bug**
Unable to save traces to file, which is essential for running code on a cluster.

**To Reproduce**
Follow the case study **Fitting TESS data** (https://gallery.exoplanet.codes/tutorials/tess/) --
except using
`lc = lc_file.remove_nans().remove_outliers().normalize()` instead of
`lc = lc_file.remove_nans().normalize().remove_outliers()`, as the first order of transformations ra

[2022-04-12 18:52] dfm commented on #256
I have seen this before, and I don't totally understand why this happens. In the short term, I'd recommend using the `groups` argument to `to_netcdf` (care of @avivajpeyi):

[code]

Here's a simpler snippet that fails with the same issue:

[code]

This could be used to debug and find a longer term solution.

[2022-04-12 19:39] dgegen commented on #256
Thank you very much for the quick reply, the boiled down version and the workaround. I would still be curious to know if trace.observed_data can also be saved / how the custom exoplanet distributions would need to be changed.

[2022-04-13 13:41] dgegen commented on #256
I see. I played around some more and found that the problem of xarray serialization is not limited to the custom distributions of _exoplanet_ but also occurs for celerite2.theano.GaussianProcess objects under certain circumstance:
[code]
raises the error
[code]
However, there is no error if ` gp.marginal("gp", observed=resid)` is replaced with `gp.marginal("gp", observed=y) `, i.e. we marginalise

[2022-04-13 13:47] dfm commented on #256
Yes. This is exactly the same issue. The "observed data" isn't a constant if it depends on the model!

[2022-04-13 13:54] dgegen commented on #256
You are right of course, I just wanted to point out that the problem is not limited to the custom distribution of **exoplanet**.

[2022-04-13 14:00] dfm commented on #256
Haha good point. The celerite2 design (mistakes?) are the same and also my own :D

[2022-04-13 15:15] dgegen commented on #256
**Somewhat off-topic:**
Well, thank you very much for your great work. For tackling scientific problems, I find it always very pleasant to use higher-level abstraction languages like Python while still having the advantage of high performance of lower-level languages like C++. Accordingly, I am grateful that packages like celerite2 exist. I thought a few times that in the long run it might be wort

[2022-04-13 15:30] dfm commented on #256
Thanks!

If you're interested in a Julia version, there has been some work on implementing at least some parts over in: https://github.com/JuliaAstro/Transits.jl
And we have this old implementation of celerite in Julia (I'm not sure how compatible it'll be with recent versions of Julia): https://github.com/ericagol/celerite.jl

[2022-04-13 15:50] dgegen commented on #256
Thanks for pointing out these projects, I will have a look at them!

[2022-04-13 22:01] ericagol commented on #256
Also https://github.com/rodluger/Limbdark.jl

[2022-05-10 21:55] joellama opened #257 "Issue installing on M1 Mac"
Hi @dfm, I'm trying to install on an M1 Mac. I did this to create a new environment:
`conda create -c conda-forge -n pymc3_env python=3.9 pymc3`
Then
`pip install exoplanet`
When I then try `import exoplanet as xo` I get `AttributeError: module 'numpy.distutils.__config__' has no attribute 'blas_opt_info'`

Any thoughts?

[2022-05-10 22:19] dfm commented on #257
This isn't an exoplanet or M1 problem really - it's a PyMC3/Theano issue. You should be able to fix it by pinning `numpy<1.22`, which PyMC3 should do, but doesn't!

[2022-05-10 22:26] joellama commented on #257
Thanks @dfm! The trick it seems on M1 is then you get `float128` isn't defined, that is get-aroundable by pegging pymc3==3.8. Thanks again!

[2022-05-10 23:16] dfm commented on #257
You shouldn't need to restrict to Python 3.8. This is now an issue with the conda versions of PyMC3 (only PyMC3 v3.9 is available). Instead of pinning the Python version, you can just run `pip install -U pymc3` to get a version of PyMC3 that works with more recent Pythons.

[2022-05-10 23:17] dfm commented on #257
Unfortunately I think that the numpy pin does remain necessary because Theano is no longer maintained.

[2022-05-11 18:04] catrionamurray commented on #234
Hi! I'm trying to use exoplanet with PyMC (v4) and I'm having trouble with defining the limb-darkening coeffs:
`u_ld = xo.distributions.QuadLimbDark("u", testval=np.array(init_u))`
Throws an error when defined under pm.Model() where pm is pyMC not pyMC3.

[code]

[2022-05-11 20:06] dfm commented on #234
Yeah - exoplanet does not work with PyMC v4. You'll need to stick with PyMC3!

[2022-05-13 14:57] #252 closed

[2022-05-16 06:27] TeHanHunter opened #258 "celerite2.backprop.LinAlgError: failed to factorize or solve matrix"
**Describe the bug**
pm.Model() returns

**To Reproduce**
While following the [Fitting TESS data](https://gallery.exoplanet.codes/tutorials/tess/) tutorial, I try to fit LHS 3844. I used my own light curve (30 min TESS FFI), and the only things I changed in the code are the stellar mass and radius prior:
[code]
The period is 0.4626. I had to change the BLS range to include this period. But BLS wor

[2022-07-05 11:24] dfm opened #264 "AttributeError: module 'exoplanet.distributions' has no attribute 'Angle'"
### Discussed in https://github.com/exoplanet-dev/exoplanet/discussions/262

<div type='discussions-op-text'>

<sup>Originally posted by **wnguyen1312** July  2, 2022</sup>
I am using this tutorial https://docs.exoplanet.codes/en/v0.1.5/tutorials/tess/#transit-search to fit TESS data. One of the attributes used is no longer supported, giving this error:

-------------------------------------------

[2022-07-05 11:24] dfm commented on #264
That's a very old version of the docs: the most recent version is 0.5.2, and you're looking at 0.1.5. Take a look at the current case studies page for the up to date tutorial: https://gallery.exoplanet.codes/

[2022-07-05 11:24] #264 closed

[2022-08-01 04:00] annapurnamurthy commented on #214
Hey, I'm facing the same bug right now. Could you solve this issue? Any suggestions?

[2022-08-31 16:43] vandalt commented on #234
Hi, I'm not sure this is the best place to ask my question (sorry if it's not). I was wondering if there were plans to make exoplanet compatible with PyMC v4 or if the JAX backend (exo4jax I think?) was the main path forward in the future?

[2022-08-31 18:20] dfm commented on #234
Great question and this is a good place to ask!

So far, I have updated all the backend packages ([exoplanet-core](https://github.com/exoplanet-dev/exoplanet-core/tree/main/src/exoplanet_core/pymc4), and [celerite2](https://github.com/exoplanet-dev/celerite2/tree/main/python/celerite2/pymc4)) to be compatible with PyMC v4. This means that in principle it shouldn't be too hard to get the main packa

[2022-09-06 18:10] ssagear opened #267 "TTV fit sampling behaves strangely for long light curves"
Hi, first off thanks for developing the exoplanet package! It is a really awesome and efficient tool.

I wanted to ask a question about the TTV fitting functionality. In the TTV tutorial, if I increase the length of the light curve to 180 days (but change nothing else), increasing the number of transit time dimensions to 21 and 15 for P1 and P2, I get strange results after sampling. I have uploade

[2022-09-06 19:40] dfm commented on #267
I expect that the issue here is caused by the fact that when you increase the baseline it drastically increases the number of transits, and hence the number of parameters since there's one parameter per transit. When you're working with such a large number of parameters, there a number of things that you'll need to keep in mind, and it can be annoying to tune! So, I'd say that this isn't really a

[2022-09-07 16:49] ssagear commented on #267
Ah yes, using pm.sample instead of pmx.sample worked beautifully!! Thank you so much for the quick response and suggestions. It definitely makes sense that the problem occurs when there's a large # of parameters. I'll also look into the parameter groups feature for the future!

[2022-09-07 16:49] #267 closed

[2022-09-15 18:36] sukanyaX opened #268 "AttributeError: module 'exoplanet' has no attribute 'get_dense_nuts_step'"
In trying to run The Joker, I encountered this error, specifically in this code snippet when I try to make the corner plot -

trace = pm.sample(
        tune=500, draws=1000,
        start=mcmc_init,
        step=xo.get_dense_nuts_step(target_accept=0.95),
        random_seed=seed,
        cores=1, chains=2)

 - Version of exoplanet:  0.5.2
 - Operating system: Mac OS Big Sur 11.2.2
 - python 3.9.

[2022-09-15 18:57] dfm commented on #268
That method has long been deprecated. Depending on the version of PyMC3 that you're using, you can use `init="adapt_full"` instead of `step=`, or the `sample` function from https://github.com/exoplanet-dev/pymc3-ext (without the `step` argument... everything else should work)

Hope this helps!

[2022-09-15 18:58] #268 closed

[2022-10-14 15:00] dfm commented on #234
Quick update here that I'm working on the update to `pymc` v4 over here: https://github.com/exoplanet-dev/exoplanet/pull/271

[2022-10-25 11:25] JulioHC00 opened #273 "Using a number of cores larger than the number of chains"
**Describe the bug**

Not sure if this is a bug but it's something that's confusing me. The questions is, can we do multiprocessing with a number of cores larger than the number of chains? That is, when we do pm.sample, can you set `cores` to a number larger than `chains`? If so, I may be having issues  because I can assign any number of cores to 2 chains (for example, 40 cores to 2 chains so each

[2022-10-25 11:28] dfm commented on #273
Hi - This isn't really an exoplanet issue, all of the sampling is done by PyMC and that package only supports parallelizing across chains. You won't get any benefit from using multiple cores per chain because none of the calculations are parallelized. I'm going to close this as a "won't fix" because that's just how PyMC works!

[2022-10-25 11:28] #273 closed

[2022-10-25 11:33] JulioHC00 commented on #273
Ah I see! So there's no way to make the sampling go faster than a single core per chain right?

[2022-10-25 11:35] dfm commented on #273
Unfortunately there isn't! Some elements of the model (e.g. linear algebra) may use multiple threads if you have an accelerated linear algebra library (regardless of the setting for `cores`, but unfortunately that's it. Sorry!!